{% extends "layout.html" %}


{% block info_line %}
<div class="container border-light border-bottom">
    <div class="row">
        <div class="col">
            <div class="row justify-content-start">
                <div class="col-auto"><small><a href="{{url_for('account_user')}}"
                                                class="text-light text-decoration-none">User</a></small></div>
                <div class="col-auto"><small><a href="{{url_for('portfolio')}}" class="text-muted text-decoration-none">Portfolio</a></small>
                </div>
                {% if current_user.email in admins_emails %}
                <div class="col-auto"><small><a href="#" class="text-muted text-decoration-none">Admin</a></small>
                </div>
                {% endif %}
                <div class="col-auto"><small><a href="{{url_for('logout')}}" class="text-danger text-decoration-none">Logout</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-6 p-2">
            <div class="row">
                <div class="col">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <div class="text-light p-2">Username:</div>
                            <div class="text-light p-2">Email:</div>
                            <div class="text-light p-2">Member since:</div>
                        </div>
                        <div class="col-auto">
                            <div class="text-muted p-2"><small>{{username}}</small></div>
                            <div class="text-muted p-2"><small>{{email}}</small></div>
                            <div class="text-muted p-2"><small>{{member_since}}</small></div>
                        </div>
                    </div>

                    <div class="my-3 text-left">
                        <a class="btn btn-sm btn-outline-dark text-light" data-toggle="collapse" href="#updateDetails"
                           role="button"
                           aria-expanded="false" aria-controls="updateDetails">
                            Update details
                        </a>
                    </div>
                    {% if form.username.errors or form.email.errors %}
                    {% set show = "show" %}
                    {% else %}
                    {% set show = "" %}
                    {% endif %}
                    <div class="collapse {{show}}" id="updateDetails">
                        <div class="card card-body" style="background-color: #000000;">
                            <form action="{{url_for('account_user')}}" method="POST">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    {% if form.username.errors %}
                                    {{ form.username(class="form-control form-control-sm bg-dark text-light is-invalid",
                                    placeholder="Username", autocomplete="off") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.username(class="form-control form-control-sm bg-dark text-light border-0",
                                    placeholder="Username", autocomplete="off") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-sm bg-dark text-light is-invalid",
                                    type="email", placeholder="Email", autocomplete="off") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.email(class="form-control form-control-sm bg-dark text-light border-0",
                                    type="email", placeholder="Email", autocomplete="off") }}
                                    {% endif %}
                                    <small id="emailHelp" class="form-text text-info"><q>MFA will be requested to update
                                        your details. If you choose to update your email address, please note that an
                                        <u>email will be sent to your new email address</u> to reactivate your account
                                        and you <u>will not be able to access your account</u> until you do so.</q></small>
                                </div>
                                {{ form.submit(class="btn btn-sm btn-outline-dark text-light px-5") }}
                            </form>
                        </div>
                    </div>
                    <div class="text-light text-center mt-4 mb-1 pb-2">Last logins</div>
                    <div class="small mr-3 border-top border-secondary">
                        <table class="table table-sm table-borderless text-muted">
                            <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">IP Address</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for line in logins_table %}
                            <tr>
                                <td>{{line['date']}}</td>
                                <td>{{line['ipAddress']}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 p-2">
            <div class="row no-gutters">
                <div class="col-auto">
                    <div class="text-light p-2">Account type:</div>
                    <div class="text-light p-2">Data:</div>
                    <div class="text-light p-2"></div>
                </div>
                <div class="col-auto">
                    <div class="text-muted p-2"><small>account_name</small></div>
                    <div class="text-muted p-2"><a href="#" class="text-decoration-none"><small class="text-muted">View
                        my data</small></a></div>
                    <div class="text-muted p-2"><a href="#" class="text-decoration-none"><small class="text-danger">Delete
                        my account</small></a></div>
                </div>
            </div>
            <div class="my-3 mb-4 text-left">
                <a class="btn btn-sm btn-outline-dark text-light" data-toggle="collapse" href="#updateAccount"
                   role="button"
                   aria-expanded="false" aria-controls="updateAccount">
                    Update account
                </a>
            </div>
            <div class="collapse" id="updateAccount">
                <div>In progress...</div>
            </div>
            <div class="text-light text-center mt-4 mb-1 pb-2">Activity</div>
            <div class="small mr-3 border-top border-secondary">
                <table class="table table-sm table-borderless text-muted">
                    <thead>
                    <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>'description'</td>
                        <td>2021-01-01 00:00:00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
