{% extends "layout.html" %}


{% block info_line %}
<div class="container border-light border-bottom">
    <div class="row">
        <div class="col">
            <div class="row justify-content-start">
                <div class="col-auto"><small><a href="{{url_for('account_user')}}"
                                                class="text-muted text-decoration-none">User</a></small></div>
                <div class="col-auto"><small><a href="{{url_for('portfolio')}}" class="text-muted text-decoration-none">Portfolio</a></small>
                </div>
                {% if current_user.email in admins_emails %}
                <div class="col-auto"><small><a href="{{url_for('account_admin')}}"
                                                class="text-light text-decoration-none">Admin</a></small>
                </div>
                {% endif %}
                <div class="col-auto"><small><a href="{{url_for('logout')}}" class="text-danger text-decoration-none">Logout</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<script src="{{url_for('static', filename='js/admin.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/core.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/charts.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/dark.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/animated.js')}}"></script>
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-8 mb-3">
            <div class="py-3">
                <div class="row border-bottom border-info">
                    <div class="col-auto">
                        <H5 class="text-light">Main tables</H5>
                    </div>
                    <div class="col-auto"></div>
                </div>
                <small>
                    <i class="text-muted">
                        Information about main tables in database.
                    </i>
                </small>
                <table class="table table-borderless table-sm small mt-2">
                    <thead class="text-light">
                    <tr>
                        <th scope="col">Table</th>
                        <th scope="col">Count</th>
                        <th scope="col">Min date</th>
                        <th scope="col">Max date</th>
                    </tr>
                    </thead>
                    <tbody class="text-muted">
                    <tr>
                        <td>News</td>
                        <td>{{table_data['news_count'] | numberFormat}}</td>
                        <td>{{table_data['news_min']}}</td>
                        <td>{{table_data['news_max']}}</td>
                    </tr>
                    <tr>
                        <td>Transactions</td>
                        <td>{{table_data['trans_count'] | numberFormat}}</td>
                        <td>{{table_data['trans_min']}}</td>
                        <td>{{table_data['trans_max']}}</td>
                    </tr>
                    <tr>
                        <td>20s ohlc</td>
                        <td>{{table_data['20s_ohlc_count'] | numberFormat}}</td>
                        <td>{{table_data['20s_ohlc_min']}}</td>
                        <td>{{table_data['20s_ohlc_max']}}</td>
                    </tr>
                    <tr>
                        <td>60s ohlc</td>
                        <td>{{table_data['60s_ohlc_count'] | numberFormat}}</td>
                        <td>{{table_data['60s_ohlc_min']}}</td>
                        <td>{{table_data['60s_ohlc_max']}}</td>
                    </tr>
                    <tr>
                        <td>300s ohlc</td>
                        <td>{{table_data['300s_ohlc_count'] | numberFormat}}</td>
                        <td>{{table_data['300s_ohlc_min']}}</td>
                        <td>{{table_data['300s_ohlc_max']}}</td>
                    </tr>
                    <tr>
                        <td>900s ohlc</td>
                        <td>{{table_data['900s_ohlc_count'] | numberFormat}}</td>
                        <td>{{table_data['900s_ohlc_min']}}</td>
                        <td>{{table_data['900s_ohlc_max']}}</td>
                    </tr>
                    <tr>
                        <td>1800s ohlc</td>
                        <td>{{table_data['1800s_ohlc_count'] | numberFormat}}</td>
                        <td>{{table_data['1800s_ohlc_min']}}</td>
                        <td>{{table_data['1800s_ohlc_max']}}</td>
                    </tr>
                    <tr>
                        <td>3600s ohlc</td>
                        <td>{{table_data['3600s_ohlc_count'] | numberFormat}}</td>
                        <td>{{table_data['3600s_ohlc_min']}}</td>
                        <td>{{table_data['3600s_ohlc_max']}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="py-3">
                <div class="row border-bottom border-info">
                    <div class="col-auto">
                        <H5 class="text-light">Visitors IP address</H5>
                    </div>
                    <div class="col-auto">
                        <a class="text-muted" href="{{url_for('account_admin_ip_info')}}"><span
                            class="material-icons">info</span></a>
                    </div>
                </div>
                <small>
                    <i class="text-muted">
                        Information about who visited the app.
                    </i>
                </small>
                <table class="table table-borderless table-sm small mt-2">
                    <thead class="text-light">
                    <tr>
                        <th scope="col">IP</th>
                        <th scope="col">City</th>
                        <th scope="col">Country</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody class="text-muted">
                    {% for element in ip_list %}
                    <tr>
                        <td>{{element.ip}}</td>
                        <td>{{element.city}}</td>
                        <td>{{element.country_name}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mb-3">
            <div class="row border-bottom border-info">
                <div class="col-auto">
                    <H5 class="text-light">Live data</H5>
                </div>
                <div class="col-auto"></div>
            </div>
            <small>
                <i class="text-muted">
                    Information about live data.
                </i>
            </small>
            <table class="table table-borderless table-sm small mt-2">
                <thead class="text-light">
                <tr>
                    <th scope="col">Market</th>
                    <th scope="col">Base</th>
                    <th scope="col">Quote</th>
                    <th scope="col">Last update</th>
                </tr>
                </thead>
                <tbody>
                {% for line in last_update %}
                <tr id="{{line.market}}-{{line.base}}-{{line.quote}}">
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <script>
                adminLastUpdate()
                var runLastUpdate=setInterval( function() { adminLastUpdate(); }, 4750 )


            </script>
        </div>
        <div class="col-lg-8 mb-3">
            <div class="row border-bottom border-info">
                <div class="col-auto">
                    <H5 class="text-light">API info</H5>
                </div>
                <div class="col-auto">
                    <a class="text-muted" href="{{url_for('account_admin_api_info')}}"><span
                            class="material-icons">info</span></a>
                </div>
            </div>
            <small>
                <i class="text-muted">
                    Total requests for the last 24 hours.
                </i>
            </small>
            <div id="apiUsage" style="height: 250px;"></div>
            <script>
                adminApiUsage('apiUsage')


            </script>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="row border-bottom border-info">
                <div class="col-auto">
                    <H5 class="text-light">Users</H5>
                </div>
                <div class="col-auto">
                    <a class="text-muted" href="{{url_for('account_admin_users', page=1)}}"><span
                            class="material-icons">info</span></a>
                </div>
            </div>
            <small>
                <i class="text-muted">
                    Information about app users.
                </i>
            </small>
        </div>
        <div class="col-12 mb-3">
            <table class="table table-borderless table-sm small mt-2">
                <thead class="text-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col" class="d-none d-sm-none d-md-table-cell">Email</th>
                    <th scope="col" class="text-center">Type</th>
                    <th scope="col">Active</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users_sample %}
                {% if notUserId == user.id %}
                {% set notUserColor = "text-warning" %}
                {% else %}
                {% set notUserColor = "text-muted" %}
                {% endif %}
                <tr class="{{notUserColor}}">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td class="d-none d-sm-none d-md-table-cell">{{user.email}}</td>
                    <td class="text-center">{{user.account_type}}</td>
                    <td>{{user.active}}</td>
                    <td>{{user.date}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="py-3">
                <div class="row border-bottom border-info">
                    <div class="col-auto">
                        <H5 class="text-light">Webserver</H5>
                    </div>
                    <div class="col-auto"></div>
                </div>
                <div id="cpuUsageWS" style="height: 250px;"></div>
                <script>
                    adminCpuUsageWS('cpuUsageWS')

                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="py-3">
                <div class="row border-bottom border-info">
                    <div class="col-auto">
                        <H5 class="text-light">Data Creator</H5>
                    </div>
                    <div class="col-auto"></div>
                </div>
                <div id="cpuUsageDC" style="height: 250px;"></div>
                <script>
                    adminCpuUsageDC('cpuUsageDC')

                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="py-3">
                <div class="row border-bottom border-info">
                    <div class="col-auto">
                        <H5 class="text-light">Database</H5>
                    </div>
                    <div class="col-auto"></div>
                </div>
                <div id="cpuUsageDB" style="height: 250px;"></div>
                <script>
                    adminCpuUsageDB('cpuUsageDB')

                </script>
                <div id="freeRamDB" style="height: 250px;"></div>
                <script>
                    adminFreeRamDB('freeRamDB')

                </script>
                <div id="connectionsDB" style="height: 250px;"></div>
                <script>
                    adminConnectionsDB('connectionsDB')

                </script>
            </div>
        </div>
    </div>
</div>


{% endblock %}
