{% extends "layout.html" %}


{% block info_line %}
<div class="container border-light border-bottom">
    <div class="row">
        <div class="col">
            <div class="row justify-content-start">
                <div class="col-auto"><small><a href="{{url_for('account_user')}}"
                                                class="text-muted text-decoration-none">User</a></small></div>
                <div class="col-auto"><small><a href="{{url_for('portfolio')}}" class="text-muted text-decoration-none">Portfolio</a></small>
                </div>
                {% if current_user.email in admins_emails %}
                <div class="col-auto"><small><a href="{{url_for('account_admin')}}"
                                                class="text-muted text-decoration-none">Admin</a></small>
                </div>
                {% endif %}
                <div class="col-auto"><small><a href="{{url_for('logout')}}" class="text-danger text-decoration-none">Logout</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<script src="{{url_for('static', filename='js/admin.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/core.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/charts.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/dark.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/animated.js')}}"></script>
<div class="container mt-3">
    <div class="row justify-content-end mr-2 mb-3">
        <H6 class="text-light text-decoration-none">Users - Details</H6>
    </div>
    <table class="table table-borderless table-sm small mt-2">
        <thead class="text-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Account type</th>
            <th scope="col">Active</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for user in user_data %}
        {% if user.id == notUserId %}
        {% set cc="warning" %}
        {% else %}
        {% set cc="muted" %}
        {% endif %}
        <tr class="text-{{cc}}">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.account_type}}</td>
            <td>{{user.active}}</td>
            <td>{{user.date}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm justify-content-end">
            {% if c_page == 1 and last_page == 1 %}
            <li class="page-item disabled">
                <a class="page-link border border-dark bg-dark text-light" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item disabled"><a class="page-link border border-dark bg-secondary text-light" href="#">1</a></li>
            <li class="page-item disabled">
                <a class="page-link border border-dark bg-dark text-light" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% elif c_page == 1 and last_page != 1 %}
            <li class="page-item disabled">
                <a class="page-link border border-dark bg-dark text-light" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item disabled"><a class="page-link border border-dark bg-secondary text-light" href="#">{{c_page}}</a></li>
            <li class="page-item"><a class="page-link border border-dark bg-dark text-light" href="{{url_for('account_admin_users', page=(c_page + 1))}}">{{c_page + 1}}</a></li>
            <li class="page-item">
                <a class="page-link border border-dark bg-dark text-light" href="{{url_for('account_admin_users', page=last_page)}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% elif c_page != 1 and c_page != last_page %}
            <li class="page-item">
                <a class="page-link border border-dark bg-dark text-light" href="{{url_for('account_admin_users', page=1)}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link border border-dark bg-dark text-light" href="{{url_for('account_admin_users', page=(c_page - 1))}}">{{c_page - 1}}</a></li>
            <li class="page-item disabled"><a class="page-link border border-dark bg-secondary text-light" href="#">{{c_page}}</a></li>
            <li class="page-item"><a class="page-link border border-dark bg-dark text-light" href="{{url_for('account_admin_users', page=(c_page + 1))}}">{{c_page + 1}}</a></li>
            <li class="page-item">
                <a class="page-link border border-dark bg-dark text-light" href="{{url_for('account_admin_users', page=last_page)}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link border border-dark bg-dark text-light" href="{{url_for('account_admin_users', page=1)}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link border border-dark bg-dark text-light" href="{{url_for('account_admin_users', page=(c_page - 1))}}">{{c_page - 1}}</a></li>
            <li class="page-item disabled"><a class="page-link border border-dark bg-secondary text-light" href="#">{{c_page}}</a></li>
            <li class="page-item disabled">
                <a class="page-link border border-dark bg-dark text-light" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>


{% endblock %}
