{% extends "layout.html" %}


{% block info_line %}
<div class="container border-light border-bottom">
    <div class="row">
        <div class="col">
            <div class="row justify-content-start">
                <div class="col-auto"><small><a href="{{url_for('account_user')}}"
                                                class="text-muted text-decoration-none">User</a></small></div>
                <div class="col-auto"><small><a href="{{url_for('portfolio')}}" class="text-muted text-decoration-none">Portfolio</a></small>
                </div>
                {% if current_user.email in admins_emails %}
                <div class="col-auto"><small><a href="{{url_for('account_admin')}}"
                                                class="text-muted text-decoration-none">Admin</a></small>
                </div>
                {% endif %}
                <div class="col-auto"><small><a href="{{url_for('logout')}}" class="text-danger text-decoration-none">Logout</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<script src="{{url_for('static', filename='js/admin.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/core.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/charts.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/dark.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/animated.js')}}"></script>
<div class="container mt-3">
    <div class="row justify-content-end mr-2 mb-3">
        <H6 class="text-light text-decoration-none">IP address - Details</H6>
    </div>
    <div class="row mb-5">
        <div class="col-md-auto">
            <input id="prev-item" type="text" hidden readonly value="">
            <ul id="fullList" class="list-group list-group-flush small">
                {% for i in range(full_list.__len__()) %}
                <a class="text-decoration-none" href="#">
                    <li id="ip-{{i}}" onclick="ifFullDetails(this.id, '{{full_list[i]}}')"
                        class="list-group-item list-group-item-action list-group-item-dark">{{full_list[i]}}</li>
                </a>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md">
            <div id="ip-full-details" class="text-light">
            </div>
        </div>
        {% for i in range(full_list.__len__()) %}
        {% if i == 0 %}
        <script>
            ifFullDetails('ip-{{i}}', '{{full_list[i]}}')
        </script>
        {% endif %}
        {% endfor %}
    </div>
</div>


{% endblock %}
