{% extends "layout.html" %}


{% block height %}

{% endblock %}

{% block info_line %}
<div class="container border-light border-bottom">
    <div class="row">
        <div class="col">
            <div class="row justify-content-start">
                <div class="col-auto"><small><a href="{{url_for('chart_line', market=market, base=base, quote=quote)}}"
                                                class="text-decoration-none text-muted">Line chart</a></small>
                </div>
                <div class="col-auto"><small><a
                        href="{{url_for('chart_ohlc', market=market, base=base, quote=quote, candle=default_candle)}}"
                        class="text-decoration-none text-muted">Ohlc chart</a></small>
                </div>
                <div class="col-auto"><small><a
                        href="{{url_for('chart_vtp', market=market, base=base, quote=quote, candle=default_candle)}}"
                        class="text-decoration-none text-light">Vtp chart</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<script src="{{url_for('static', filename='js/vtp.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/core.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/charts.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/dark.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/animated.js')}}"></script>
<div>
    <div id="market" hidden>{{market}}</div>
    <div id="base" hidden>{{base}}</div>
    <div id="quote" hidden>{{quote}}</div>
    <div id="datapoints" hidden>{{datapoints}}</div>
    <div id="candle" hidden>{{candle_in_use}}</div>
    {% for i in candles %}
    {% if i['value'] == candle_in_use %}
    <div id="candle_rate" hidden>{{i['update_rate']}}</div>
    {% endif %}
    {% endfor %}
</div>

<div class="container">
    <div class="row justify-content-end align-items-center p-1 mt-1 small">
        <div class="col-auto text-light">
            Market: {{market.upper()}}
        </div>
        <div class="col-auto text-light">
            Pair: {{base.upper()}}{{quote.upper()}}
        </div>
        <div class="col-auto text-light">
            <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle text-light" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    {{candle_in_use_display}}
                </button>
                <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="dropdownCandles">
                    {% for candle in candles %}
                    <a class="dropdown-item text-light small" href="{{url_for('chart_vtp', market=market, base=base, quote=quote, candle=candle['value'])}}">{{candle['display']}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div>
        <H5 class="text-light">Volume Transactions Price (VTP)</H5>
        <small class="text-muted">
            The following chart holds information about total number of transactions <q><i>Transactions</i></q>, highest single transaction on volume <q><i>HighestVolume</i></q>,
            remaining volume <q><i>RemVolume</i></q>, price for highest single transaction <q><i>PriceHV</i></q> and close price <q><i>ClosePrice</i></q> for a given candle.
        </small>
    </div>
    <div class="row no-gutters">
        <div class="col-xl col-lg py-2">
            <div id="vtp-chart" style="height: 700px;"></div>
            <script>
                vtp_chart('vtp-chart')
            </script>
        </div>
    </div>
</div>

{% endblock %}