{% extends "layout.html" %}


{% block info_line %}
{% endblock %}


{% block content %}
<script src="{{url_for('static', filename='js/ohlc.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/core.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/charts.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/dark.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/animated.js')}}"></script>
<div class="container mt-4">
    <div class="row justify-content-end mr-2">
        <H6 class="mb-2"><a href="#" class="text-light text-decoration-none">Watch list</a></H6>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-3 mb-2">
        {% for card in cards %}
        <div class="col-xl-4 col-lg-4 col-sm-6 mb-2">
            <a href="#" class="text-decoration-none">
                {% if card["change"] < 0 %}
                {% set color = "danger" %}
                {% elif card["change"] == 0 %}
                {% set color = "warning" %}
                {% else %}
                {% set color = "success" %}
                {% endif %}
                <div class="p-2 border border-{{color}} rounded-lg"
                     id="general-{{card['market']}}-{{card['base']}}-{{card['quote']}}">
                    <div class="row">
                        <div class="col">
                            <h4 class="text-light" id="card-{{card['market']}}-{{card['base']}}-{{card['quote']}}">
                                {{card['base'].upper()+card['quote'].upper()}}</h4>
                        </div>
                        <div class="col-auto text-right">
                            <small class="font-italic text-muted"
                                   id="market-{{card['market']}}-{{card['base']}}-{{card['quote']}}">{{card["market"]}}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <h5 class="text-{{color}} ml-3"
                                id="change-{{card['market']}}-{{card['base']}}-{{card['quote']}}">
                                {{card["change"]}}%</h5>
                        </div>
                        <div class="col">
                            <h4 class="text-right text-{{color}}"
                                id="last-{{card['market']}}-{{card['base']}}-{{card['quote']}}">{{card["last_price"] |
                                numberFormat}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="height: 0px;"
                             id="smallChart-{{card['market']}}-{{card['base']}}-{{card['quote']}}"></div>
                        <script>
                        </script>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <div class="row-fluid text-muted text-center"><small>Last 24h</small></div>
                            <div class="row-fluid text-muted small"
                                 id="high-{{card['market']}}-{{card['base']}}-{{card['quote']}}"><strong>High: </strong>{{card["high"]
                                | numberFormat}}
                            </div>
                            <div class="row-fluid text-muted small"
                                 id="low-{{card['market']}}-{{card['base']}}-{{card['quote']}}"><strong>Low: </strong>{{card["low"]
                                | numberFormat}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-end mr-2 text-muted"><strong>Volume:</strong></div>
                            <div class="row justify-content-end mr-2 text-muted small"
                                 id="volume-{{card['market']}}-{{card['base']}}-{{card['quote']}}">{{card["volume"] |
                                numberFormat}} {{card['base'].upper()}}
                            </div>
                            <div class="row justify-content-end mr-2 text-muted small"
                                 id="volumeQuote-{{card['market']}}-{{card['base']}}-{{card['quote']}}">
                                {{card["volume_quote"] | numberFormat}} {{card['quote'].upper()}}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <script>
            var run{{card['market']}}{{card['base']}}{{card['quote']}}=setInterval( function() { cardUpdate('{{card['base']}}', '{{card['quote']}}', '{{card['market']}}', '{{card['delta']}}'); }, 2500 );

        </script>
        {% endfor %}
    </div>
    <hr class="border-secondary">
    <div class="row justify-content-end mr-2">
        <H6><a href="#" class="text-light text-decoration-none">Lastest transactions</a></H6>
    </div>
    {% for i in range(tables.__len__()) %}
    <table class="table table-sm table-borderless table-hover table-dark" style="background-color: #000000;">
        <thead class="text-muted">
        <tr>
            <th class="d-none d-sm-none d-md-table-cell">#</th>
            <th>Pair</th>
            <th class="text-center">Time</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Price</th>
        </tr>
        </thead>
        <tbody class="text-muted small" id="table-{{i}}">
        {% for line in tables[i] %}
        <tr>
            <td class="d-none d-sm-none d-md-table-cell">{{line['ind']}}</td>
            <td>{{line['base'].upper()}}{{line['quote'].upper()}}</td>
            <td class="text-center">{{line['date']}}</td>
            <td class="text-right">{{line['amount'] | numberFormat}}</td>
            <td class="text-right">{{line['price'] | numberFormat}}</td>
        </tr>
        {% endfor %}
        </tbody>
        <script>
            var run{{i}}=setInterval( function() { tableUpdate('{{tables[i][0]['base']}}', '{{tables[i][0]['quote']}}', '{{tables[i][0]['market']}}', {{number_of_trans}}, 'table-{{i}}'); }, 10000 );

        </script>
    </table>
    {% endfor %}
</div>
{% endblock %}
