<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - app.ptcrypto.club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/fav.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
    <script src="{{url_for('static', filename='js/generic.js')}}"></script>
</head>

{% block height %}
{% endblock %}

<body style="background-color: #000000;" onload="pageClock()">
<div class="container border-light border-bottom">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #000000;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons">apps</span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav mr-auto">

                {% if title == "Home" %}
                {% set active = "active" %}
                {% else %}
                {% set active = "" %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {{active}}" href="{{url_for('home')}}">Home</a>
                </li>

                {% if current_user.is_authenticated %}
                {% if title == "Account" %}
                {% set active = "active" %}
                {% else %}
                {% set active = "" %}
                {% endif %}
                <li class="nav-item {{active}}">
                    <a class="nav-link" href="{{url_for('account_user')}}">Account</a>
                </li>
                {% else %}
                {% if title == "Login" %}
                {% set active = "active" %}
                {% else %}
                {% set active = "" %}
                {% endif %}
                <li class="nav-item {{active}}">
                    <a class="nav-link" href="{{url_for('login')}}">Login</a>
                </li>

                {% if title == "Register" %}
                {% set active = "active" %}
                {% else %}
                {% set active = "" %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {{active}}" href="{{url_for('register')}}">Register</a>
                </li>
                {% endif %}

                {% if title == "Markets" %}
                {% set active = "active" %}
                {% else %}
                {% set active = "" %}
                {% endif %}
                <li class="nav-item {{active}} dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="marketsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Markets
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="marketsDropdown">
                        {% for market in all_markets %}
                        <a class="dropdown-item text-light" href="{{url_for('market', market=market)}}">{{market}}</a>
                        {% endfor %}
                    </div>
                </li>

                {% if title == "Charts" %}
                {% set active = "active" %}
                {% else %}
                {% set active = "" %}
                {% endif %}
                <li class="nav-item {{active}} dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="chartsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Charts
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="chartsDropdown">
                        <a class="dropdown-item text-light"
                           href="{{url_for('chart_line', market='kraken', base='btc', quote='eur')}}">Line</a>
                        <a class="dropdown-item text-light"
                           href="{{url_for('chart_ohlc', market='kraken', base='btc', quote='eur', candle=default_candle)}}">Ohlc</a>
                        <a class="dropdown-item text-light"
                           href="{{url_for('chart_vtp', market='kraken', base='btc', quote='eur', candle=default_candle)}}">Vtp</a>
                    </div>
                </li>

                {% if title == "Historical Charts" %}
                {% set active = "active" %}
                {% else %}
                {% set active = "" %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {{active}}" href="{{url_for('historical_charts_line')}}">Historical data</a>
                </li>

                {% if title == "About" %}
                {% set active = "active" %}
                {% else %}
                {% set active = "" %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {{active}}" href="{{url_for('about_project')}}">About Us</a>
                </li>

            </ul>
            <div class="form-inline my-2 my-lg-0 small">
                <label for="clock" class="my-1 mr-2 text-secondary">UTC time: </label>
                <div id="clock" class="text-light"></div>
            </div>
        </div>
    </nav>
</div>
<input id="APISecret" type="text" value="{{api_secret}}" hidden readonly>
<input id="notUser" type="text" value="{{notUserId}}" hidden readonly>

{% block info_line %}
{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="container mt-2 alert bg-dark alert-dismissible fade show text-{{ category }}" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% block content %}
{% endblock %}

<div class="container mt-3 border-light border-top">
    <div class="row justify-content-center mt-2">
        <p class="text-muted">The usual stuff, all rights reserved. v2.0</p>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>