{% extends "layout.html" %}


{% block height %}
<style>
    body, html {
        height: 100%;
    }


</style>
{% endblock %}


{% block content %}

<div class="container-fluid mt-4 h-75">
    <div class="row align-items-center justify-content-center mx-1 px-2 h-100">
        <div class="col-xl-5 col-lg-6 col-md-7 col-sm-9 justify-content-center p-4 rounded border">
            <form action="{{url_for('login')}}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username(class="form-control bg-dark text-light border-0", placeholder="Username*") }}
                </div>
                <div class="form-group">
                    {{ form.password(class="form-control bg-dark text-light border-0", placeholder="Password*") }}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-auto">
                            {{ form.pin(class="form-control bg-dark text-light border-0", autocomplete="off",
                            placeholder="2FA or PIN*", value="", maxlength="6") }}
                        </div>
                    </div>
                    <small id="pinHelp" class="form-text text-info">If you didn't finished the 2FA activation process
                        please use "000000".</small>
                </div>
                <div class="row justify-content-around align-items-center mt-4">
                    <div class="col-auto">
                        {{ form.submit(class="btn btn-outline-dark text-light px-5") }}
                    </div>
                    <div class="col">
                        <div class="row justify-content-start align-items-center">
                            <div class="col-auto">
                                <small class="form-text">
                                    <a href="{{url_for('password_recovery_email')}}"
                                       class="text-decoration-none text-muted">Lost password?</a>
                                </small>
                            </div>
                            <div class="col-auto">
                                <small class="form-text">
                                    <a href="#" class="text-decoration-none text-muted">Lost 2FA?</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}