{% extends "layout.html" %}


{% block height %}
<style>
    body, html {
        height: 100%;
    }
</style>
{% endblock %}


{% block info_line %}
{% endblock %}


{% block content %}

<div class="container-fluid mt-4 h-75">
    <div class="row align-items-center justify-content-center mx-1 px-2 h-100">
        <div class="col-xl-5 col-lg-6 col-md-7 col-sm-9 justify-content-center p-4 rounded border border-light">
            <div class="text-light"><H2>Password recovery</H2></div>
            <div class="mt-5"></div>
            <form action="{{url_for('password_recovery_email')}}" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {% if form.email.errors %}
                    {{ form.email(class="form-control bg-dark text-light is-invalid", type="email", placeholder="Email*", autocomplete="off") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control bg-dark text-light border-0", type="email", placeholder="Email*", autocomplete="off") }}
                    {% endif %}
                    <small id="emailHelp" class="form-text text-muted">An automatic email will be sent to recover your password.</small>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col-auto">
                        {{ form.submit(class="btn btn-outline-dark text-light px-5") }}
                    </div>
                    <div class="col">
                        <small id="passHelp" class="form-text">
                            <a href="{{url_for('password_recovery_username')}}" class="text-decoration-none text-muted">Lost email?</a>
                        </small>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}