{% extends "layout.html" %}


{% block info_line %}
<div class="container border-light border-bottom">
    <div class="row">
        <div class="col">
            <div class="row justify-content-start">
                <div class="col-auto">
                    <small>
                        <a href="{{url_for('playground_live_home', compt_id=compt_id)}}" class="text-muted text-decoration-none">Main</a>
                    </small>
                </div>
                {% if registered %}
                <div class="col-auto">
                    <small>
                        <a href="{{url_for('playground_live_my_transactions', compt_id=compt_id)}}" class="text-muted text-decoration-none">My transactions</a>
                    </small>
                </div>
                {% endif %}
                <div class="col-auto">
                    <small>
                        <a href="{{url_for('playground_live_transactions', compt_id=compt_id)}}" class="text-muted text-decoration-none">All transactions</a>
                    </small>
                </div>
                <div class="col-auto">
                    <small>
                        <a href="{{url_for('playground_live_hall_of_fame', compt_id=compt_id)}}" class="text-light text-decoration-none">Hall of fame</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<script src="{{url_for('static', filename='js/playground.js')}}"></script>

<div class="container mt-3 mb-5">
    <div class="row justify-content-end mt-5">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="row justify-content-end align-items-top no-gutters">
                <div class="col">
                    <H2 class="text-light text-right">{{compt_name}}</H2>
                </div>
                <div class="col-auto ml-2">
                    <div class="spinner-grow spinner-grow-sm text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="col-auto ml-1">
                    <small class="text-success"><strong>LIVE</strong></small>
                </div>
                <div class="col-12 border-top border-bottom border-info small pr-2 py-1">
                    <div class="row no-gutters justify-content-end text-light">
                        <div class="col-auto">
                            {{days_to_trade}} days left to trade
                        </div>
                        <div class="col-auto mx-3"><strong>|</strong></div>
                        <div class="col-auto">
                            {% if users_in_compt > 1 %}
                            {{users_in_compt | numberFormat}} registered users
                            {% else %}
                            {{users_in_compt | numberFormat}} registered user
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if registered %}
    <div class="row align-items-end mt-xl-0 mt-lg-0 mt-5">
        <div class="col-auto">
            <small class="text-info">Current value:</small>
            <div class="row no-gutters">
                <div class="col-auto">
                    <h1 class="display-4 text-light"><small  id="cv_value">{{current_value | numberFormat}}</small></h1>
                </div>
                <div class="col-auto">
                    <small class="text-light">{{amount_quote.upper()}}</small>
                </div>
                {% if var_pct > 0 %}
                <div class="col-auto" id="cv_icon">
                    <span class="material-icons text-success" style="font-size:48px">north</span>
                </div>
                <div class="col-auto mr-2 text-success" id="cv_pct_change">
                    <h5>{{var_pct}}%</h5>
                </div>
                {% elif var_pct < 0 %}
                <div class="col-auto" id="cv_icon">
                    <span class="material-icons text-danger" style="font-size:48px">south</span>
                </div>
                <div class="col-auto mr-2 text-danger" id="cv_pct_change">
                    <h5>{{var_pct}}%</h5>
                </div>
                {% else %}
                <div class="col-auto" id="cv_icon">
                    <span class="material-icons text-warning" style="font-size:48px">unfold_less</span>
                </div>
                <div class="col-auto mr-2 text-warning" id="cv_pct_change">
                    <h5>{{var_pct}}%</h5>
                </div>
                {% endif %}
            </div>
            <script>
                var updatePortfolioCompt=setInterval( function() { updateCompetitionPortfolio({{current_user.id}}, {{compt_id}}); }, 15*1000 );
            </script>
            <div class="row no-gutters">
                <div class="col-auto p-1">
                    <small class="text-light">Assets:</small>
                    {% for asset in available_assets %}

                    <div class="row align-items-center no-gutters mb-2">
                        <div class="col-auto">
                            <img src="/static/crypto_icons/color/{{asset.base}}.png" alt="btc"
                                 style="width:20px;height:20px;"
                                 title="{{asset.base.upper()}}">
                        </div>
                        <div class="col-auto ml-3 text-light">
                            {{asset.amount | numberFormat}}
                        </div>
                    </div>

                    {% endfor %}

                </div>
                <div class="col-auto ml-5 p-1">
                    <small class="text-light">Wallet:</small>
                    <div class="row align-items-center no-gutters mb-2">
                        <div class="col-auto">
                            <img src="/static/crypto_icons/color/{{amount_quote}}.png" alt="EUR"
                                 style="width:20px;height:20px;"
                                 title="EUR">
                        </div>
                        <div class="col-auto ml-3 text-light">
                            {{available_funds | numberFormat}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl col-lg col-md col-sm col-12 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-0 mt-5">
            <div class="row justify-content-around">
                <div class="col-auto">
                    <a href="#buyAsset" class="text-decoration-none text-success" data-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="buyAsset">
                        <div class="row no-gutters align-items-center h4">
                            <div class="col-auto"><span class="material-icons p-1">add_circle</span></div>
                            <div class="col-auto">Buy asset</div>
                        </div>
                    </a>
                </div>
                <div class="col-auto">
                    <a href="#sellAsset" class="text-decoration-none text-danger" data-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sellAsset">
                        <div class="row no-gutters align-items-center h4">
                            <div class="col-auto"><span class="material-icons p-1">remove_circle</span></div>
                            <div class="col-auto">Sell asset</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 collapse multi-collapse mt-4" id="buyAsset">
            <div class="border border-success p-xl-5 p-lg-4 p-md-3 p-sm-3 p-1">

                <form action="{{url_for('playground_live_buy_asset', compt_id=compt_id)}}" method="POST">
                    {{ form_buy.hidden_tag() }}
                    <div class="pb-3 px-3">
                        <div class="row no-gutters justify-content-between mt-xl-0 mt-lg-0 mt-md-0 mt-sm-3 mt-3">
                            <div class="col">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-auto my-1" hidden>
                                        {{form_buy.market(class="form-control form-control-sm mr-sm-2 bg-dark text-light
                                        border border-secondary", onchange="updateBase()")}}
                                    </div>
                                    <div class="col-auto text-light mx-1 my-1">
                                        Asset to buy:
                                    </div>
                                    <div class="col-auto mx-1 my-1">
                                        {{form_buy.base(class="form-control form-control-sm mr-sm-2 bg-dark text-light
                                        border border-secondary", onchange="buyReport()")}}
                                    </div>
                                    <div class="col-auto my-1" hidden>
                                        {{form_buy.quote(class="form-control form-control-sm mr-sm-2 bg-dark text-light
                                        border border-secondary")}}
                                    </div>
                                    <div class="col-sm-auto">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col-auto text-light ml-xl-3 ml-lg-3 ml-md-3 ml-0 mr-1 my-1">
                                                Amount <small><i
                                                    style="font-size:11px">({{amount_quote.upper()}})</i></small>:
                                            </div>
                                            <div class="col-auto mx-1 my-1">
                                                {{ form_buy.amount_spent(class="form-control form-control-sm text-light
                                                bg-dark border
                                                border-secondary", type="number",
                                                placeholder="Amount to be spent", oninput="buyReport()", step="0.01",
                                                min="0",
                                                max=available_funds)
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                    updateBase()

                                    </script>
                                </div>
                            </div>
                            <div class="col-auto text-light">
                                <div class="row no-gutters align-items-center justify-content-end">
                                    <div class="col-auto"><small>Total amount available:</small></div>
                                </div>
                                <div class="row no-gutters align-items-center justify-content-end">
                                    <div class="col-auto"><span class="material-icons p-1">account_balance_wallet</span>
                                    </div>
                                    <div class="col-auto">{{available_funds | numberFormat}} <small>{{amount_quote.upper()}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="row">
                            <div class="col-auto">
                                <div class="text-muted"><small>Current price</small></div>
                                <div class="text-success" id="price"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Amount</small></div>
                                <div class="text-success" id="amount"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Fee <i>({{buy_fee}}%)</i></small></div>
                                <input id="chargedFee" type="number" value="{{buy_fee}}" hidden
                                       readonly>
                                <div class="text-danger" id="fee"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Asset amount</small></div>
                                <div class="text-success" id="result"></div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <i class="text-info"><q><small>Please note that price may change while the transaction is
                                completed, all amounts shown are just representative.</small></q></i>
                        </div>
                    </div>
                    <div class="py-3 px-xl-5 px-lg-4 px-md-3 px-sm-3 px-2 text-right">
                        <div class="row">
                            <div class="col-sm-8">
                                {{ form_buy.submit(class="btn btn-block btn-sm btn-outline-success") }}
                            </div>
                            <div class="col-sm-4 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-0 mt-2">
                                <input type="reset" value="Clear" class="btn btn-block btn-sm btn-outline-warning"
                                       onclick="clearReport()">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-12 collapse multi-collapse mt-4" id="sellAsset">
            <div class="border border-danger p-xl-5 p-lg-4 p-md-3 p-sm-3 p-1">

                <form action="{{url_for('playground_live_sell_asset', compt_id=compt_id)}}" method="POST">
                    {{ form_sell.hidden_tag() }}
                    {% for sell_asset in available_assets %}
                    <input id="hidden-{{sell_asset['base']}}-value" type="number" value="{{sell_asset['amount']}}"
                           hidden>
                    {% endfor %}
                    <div class="pb-3 px-3">
                        <div class="row no-gutters justify-content-between mt-xl-0 mt-lg-0 mt-md-0 mt-sm-3 mt-3">

                            <div class="col">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-auto my-1" hidden>
                                        {{form_sell.market_sell(class="form-control form-control-sm mr-sm-2 bg-dark
                                        text-light
                                        border border-secondary", onchange="updateBaseSell()")}}
                                    </div>
                                    <div class="col-auto my-1 mx-1 text-light">
                                        Asset to sell:
                                    </div>
                                    <div class="col-auto mx-1 my-1">
                                        {{form_sell.base_sell(class="form-control form-control-sm mr-sm-2 bg-dark
                                        text-light border
                                        border-secondary", onchange="sellReport()")}}
                                    </div>
                                    <div class="col-auto my-1" hidden>
                                        {{form_sell.quote_sell(class="form-control form-control-sm mr-sm-2 bg-dark
                                        text-light border border-secondary")}}
                                    </div>
                                    <script>
                                    updateBaseSell()
                                    </script>

                                    <div class="col-sm-auto mx-1 my-1">

                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto mx-1 my-1 text-light">
                                                Amount:
                                            </div>
                                            <div class="col-auto mx-1 my-1">
                                                {{ form_sell.amount_spent_sell(class="form-control form-control-sm
                                                text-light bg-dark",
                                                type="number",
                                                placeholder="Amount to be sold", oninput="sellReport()",
                                                step="0.00000001", min="0")
                                                }}
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-auto text-light">
                                <div class="row no-gutters align-items-center justify-content-end">
                                    <div class="col-auto"><small>Total amount available:</small></div>
                                </div>
                                <div class="row no-gutters align-items-center justify-content-end">
                                    <div id="sellAmountAvailable" class="col-auto"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="p-3">
                        <div class="row">
                            <div class="col-auto">
                                <div class="text-muted"><small>Current price</small></div>
                                <div class="text-success" id="price_sell"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Amount</small></div>
                                <div class="text-success" id="amount_sell"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Price</small></div>
                                <div class="text-success" id="price_without_fee"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Fee <i>({{sell_fee}}%)</i></small></div>
                                <input id="chargedFee_sell" type="number" value="{{sell_fee}}" hidden
                                       readonly>
                                <div class="text-danger" id="fee_sell"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Credit amount</small></div>
                                <div class="text-success" id="result_sell"></div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <i class="text-info"><q><small>Please note that price may change while the transaction is
                                completed, all amounts shown are just representative.</small></q></i>
                        </div>
                    </div>
                    <div class="py-3 px-xl-5 px-lg-4 px-md-3 px-sm-3 px-2 text-right">
                        <div class="row">
                            <div class="col-sm-8">
                                {{ form_sell.submit_sell(class="btn btn-block btn-sm btn-outline-success") }}
                            </div>
                            <div class="col-sm-4 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-0 mt-2">
                                <input type="reset" value="Clear" class="btn btn-block btn-sm btn-outline-warning"
                                       onclick="clearReportSell()">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    {% else %}

    <div class="container mt-3">
        <h3 class="text-info text-center p-5 m-5">You haven't joined this competition!</h3>
    </div>

    {% endif %}

    <div class="mt-5">
        <hr class="border-secondary">
        <div class="text-right">
            <H6 class="text-light">Hall of fame</H6>
            <div class="mt-n2 text-info"><small><i>Calculated at {{date_}}</i></small></div>
        </div>
        <table class="table table-sm table-borderless small mt-3">
            <thead>
            <tr class="text-light">
                <th class="text-left">#</th>
                <th class="text-left">Username</th>
                <th class="d-none d-sm-none d-md-table-cell text-right">Transactions</th>
                <th class="d-none d-sm-table-cell text-right">Assets</th>
                <th class="d-none d-sm-table-cell text-right">Wallet</th>
                <th class="text-right">Value</th>
                <th class="text-right">Var</th>
            </tr>
            </thead>
            <tbody>
            {% for i in range(hall_of_fame.__len__()) %}
            {% if hall_of_fame[i].info_pct_change > 0 %}
            {% set qwe = "success" %}
            {% elif hall_of_fame[i].info_pct_change < 0 %}
            {% set qwe = "danger" %}
            {% else %}
            {% set qwe = "warning" %}
            {% endif %}
            <tr class="text-light">
                <th class="text-left">{{i + 1}}</th>
                <td class="text-left">{{hall_of_fame[i].info_username}}</td>
                <td class="d-none d-sm-none d-md-table-cell text-right">{{hall_of_fame[i].info_total_trans | numberFormat}}</td>
                <td class="d-none d-sm-table-cell text-right">{{hall_of_fame[i].info_total_assets | numberFormat}} <small>{{amount_quote.upper()}}</small></td>
                <td class="d-none d-sm-table-cell text-right">{{hall_of_fame[i].info_wallet | numberFormat}} <small>{{amount_quote.upper()}}</small></td>
                <th class="text-right text-{{qwe}}">{{hall_of_fame[i].info_current_value | numberFormat}} <small>{{amount_quote.upper()}}</small></th>
                <th class="text-right text-{{qwe}}">{{hall_of_fame[i].info_pct_change | numberFormat}} %</th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
