{% extends "layout.html" %}


{% block info_line %}
<div class="container border-light border-bottom">
    <div class="row">
        <div class="col">
            <div class="row justify-content-start">
                <div class="col-auto">
                    <small>
                        <a href="{{url_for('playground_live_home', compt_id=compt_id)}}" class="text-light text-decoration-none">Main</a>
                    </small>
                </div>
                {% if registered %}
                <div class="col-auto">
                    <small>
                        <a href="{{url_for('playground_live_my_transactions', compt_id=compt_id)}}" class="text-muted text-decoration-none">My transactions</a>
                    </small>
                </div>
                {% endif %}
                <div class="col-auto">
                    <small>
                        <a href="{{url_for('playground_live_transactions', compt_id=compt_id)}}" class="text-muted text-decoration-none">All transactions</a>
                    </small>
                </div>
                <div class="col-auto">
                    <small>
                        <a href="{{url_for('playground_live_hall_of_fame', compt_id=compt_id)}}" class="text-muted text-decoration-none">Hall of fame</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<script src="{{url_for('static', filename='amcharts4/core.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/charts.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/dark.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/animated.js')}}"></script>
<script src="{{url_for('static', filename='js/playground.js')}}"></script>

<div class="container mt-3 mb-5">
    <div class="row justify-content-end mt-5">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="row justify-content-end align-items-top no-gutters">
                <div class="col">
                    <H2 class="text-light text-right">{{compt_name}}</H2>
                </div>
                <div class="col-auto ml-2">
                    <div class="spinner-grow spinner-grow-sm text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="col-auto ml-1">
                    <small class="text-success"><strong>LIVE</strong></small>
                </div>
                <div class="col-12 border-top border-bottom border-info small pr-2 py-1">
                    <div class="row no-gutters justify-content-end text-light">
                        <div class="col-auto">
                            {{days_to_trade}} days left to trade
                        </div>
                        <div class="col-auto mx-3"><strong>|</strong></div>
                        <div class="col-auto">
                            {% if users_in_compt > 1 %}
                            {{users_in_compt | numberFormat}} registered users
                            {% else %}
                            {{users_in_compt | numberFormat}} registered user
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if registered %}
    <div class="row align-items-end mt-xl-0 mt-lg-0 mt-5">
        <div class="col-auto">
            <small class="text-info">Current value:</small>
            <div class="row no-gutters">
                <div class="col-auto">
                    <h1 class="display-4 text-light"><small  id="cv_value">{{current_value | numberFormat}}</small></h1>
                </div>
                <div class="col-auto">
                    <small class="text-light">{{amount_quote.upper()}}</small>
                </div>
                {% if var_pct > 0 %}
                <div class="col-auto" id="cv_icon">
                    <span class="material-icons text-success" style="font-size:48px">north</span>
                </div>
                <div class="col-auto mr-2 text-success" id="cv_pct_change">
                    <h5>{{var_pct}}%</h5>
                </div>
                {% elif var_pct < 0 %}
                <div class="col-auto" id="cv_icon">
                    <span class="material-icons text-danger" style="font-size:48px">south</span>
                </div>
                <div class="col-auto mr-2 text-danger" id="cv_pct_change">
                    <h5>{{var_pct}}%</h5>
                </div>
                {% else %}
                <div class="col-auto" id="cv_icon">
                    <span class="material-icons text-warning" style="font-size:48px">unfold_less</span>
                </div>
                <div class="col-auto mr-2 text-warning" id="cv_pct_change">
                    <h5>{{var_pct}}%</h5>
                </div>
                {% endif %}
            </div>
            <script>
                var updatePortfolioCompt=setInterval( function() { updateCompetitionPortfolio({{current_user.id}}, {{compt_id}}); }, 15*1000 );
            </script>
            <div class="row no-gutters">
                <div class="col-auto p-1">
                    <small class="text-light">Assets:</small>
                    {% for asset in available_assets %}

                    <div class="row align-items-center no-gutters mb-2">
                        <div class="col-auto">
                            <img src="/static/crypto_icons/color/{{asset.base}}.png" alt="btc"
                                 style="width:20px;height:20px;"
                                 title="{{asset.base.upper()}}">
                        </div>
                        <div class="col-auto ml-3 text-light">
                            {{asset.amount | numberFormat}}
                        </div>
                    </div>

                    {% endfor %}

                </div>
                <div class="col-auto ml-5 p-1">
                    <small class="text-light">Wallet:</small>
                    <div class="row align-items-center no-gutters mb-2">
                        <div class="col-auto">
                            <img src="/static/crypto_icons/color/{{amount_quote}}.png" alt="EUR"
                                 style="width:20px;height:20px;"
                                 title="EUR">
                        </div>
                        <div class="col-auto ml-3 text-light">
                            {{available_funds | numberFormat}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl col-lg col-md col-sm col-12 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-0 mt-5">
            <div class="row justify-content-around">
                <div class="col-auto">
                    <a href="#buyAsset" class="text-decoration-none text-success" data-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="buyAsset">
                        <div class="row no-gutters align-items-center h4">
                            <div class="col-auto"><span class="material-icons p-1">add_circle</span></div>
                            <div class="col-auto">Buy asset</div>
                        </div>
                    </a>
                </div>
                <div class="col-auto">
                    <a href="#sellAsset" class="text-decoration-none text-danger" data-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sellAsset">
                        <div class="row no-gutters align-items-center h4">
                            <div class="col-auto"><span class="material-icons p-1">remove_circle</span></div>
                            <div class="col-auto">Sell asset</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 collapse multi-collapse mt-4" id="buyAsset">
            <div class="border border-success p-xl-5 p-lg-4 p-md-3 p-sm-3 p-1">

                <form action="{{url_for('playground_live_buy_asset', compt_id=compt_id)}}" method="POST">
                    {{ form_buy.hidden_tag() }}
                    <div class="pb-3 px-3">
                        <div class="row no-gutters justify-content-between mt-xl-0 mt-lg-0 mt-md-0 mt-sm-3 mt-3">
                            <div class="col">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-auto my-1" hidden>
                                        {{form_buy.market(class="form-control form-control-sm mr-sm-2 bg-dark text-light
                                        border border-secondary", onchange="updateBase()")}}
                                    </div>
                                    <div class="col-auto text-light mx-1 my-1">
                                        Asset to buy:
                                    </div>
                                    <div class="col-auto mx-1 my-1">
                                        {{form_buy.base(class="form-control form-control-sm mr-sm-2 bg-dark text-light
                                        border border-secondary", onchange="buyReport()")}}
                                    </div>
                                    <div class="col-auto my-1" hidden>
                                        {{form_buy.quote(class="form-control form-control-sm mr-sm-2 bg-dark text-light
                                        border border-secondary")}}
                                    </div>
                                    <div class="col-sm-auto">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col-auto text-light ml-xl-3 ml-lg-3 ml-md-3 ml-0 mr-1 my-1">
                                                Amount <small><i
                                                    style="font-size:11px">({{amount_quote.upper()}})</i></small>:
                                            </div>
                                            <div class="col-auto mx-1 my-1">
                                                {{ form_buy.amount_spent(class="form-control form-control-sm text-light
                                                bg-dark border
                                                border-secondary", type="number",
                                                placeholder="Amount to be spent", oninput="buyReport()", step="0.01",
                                                min="0",
                                                max=available_funds)
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                    updateBase()

                                    </script>
                                </div>
                            </div>
                            <div class="col-auto text-light">
                                <div class="row no-gutters align-items-center justify-content-end">
                                    <div class="col-auto"><small>Total amount available:</small></div>
                                </div>
                                <div class="row no-gutters align-items-center justify-content-end">
                                    <div class="col-auto"><span class="material-icons p-1">account_balance_wallet</span>
                                    </div>
                                    <div class="col-auto">{{available_funds | numberFormat}} <small>{{amount_quote.upper()}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="row">
                            <div class="col-auto">
                                <div class="text-muted"><small>Current price</small></div>
                                <div class="text-success" id="price"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Amount</small></div>
                                <div class="text-success" id="amount"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Fee <i>({{buy_fee}}%)</i></small></div>
                                <input id="chargedFee" type="number" value="{{buy_fee}}" hidden
                                       readonly>
                                <div class="text-danger" id="fee"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Asset amount</small></div>
                                <div class="text-success" id="result"></div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <i class="text-info"><q><small>Please note that price may change while the transaction is
                                completed, all amounts shown are just representative.</small></q></i>
                        </div>
                    </div>
                    <div class="py-3 px-xl-5 px-lg-4 px-md-3 px-sm-3 px-2 text-right">
                        <div class="row">
                            <div class="col-sm-8">
                                {{ form_buy.submit(class="btn btn-block btn-sm btn-outline-success") }}
                            </div>
                            <div class="col-sm-4 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-0 mt-2">
                                <input type="reset" value="Clear" class="btn btn-block btn-sm btn-outline-warning"
                                       onclick="clearReport()">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-12 collapse multi-collapse mt-4" id="sellAsset">
            <div class="border border-danger p-xl-5 p-lg-4 p-md-3 p-sm-3 p-1">

                <form action="{{url_for('playground_live_sell_asset', compt_id=compt_id)}}" method="POST">
                    {{ form_sell.hidden_tag() }}
                    {% for sell_asset in available_assets %}
                    <input id="hidden-{{sell_asset['base']}}-value" type="number" value="{{sell_asset['amount']}}"
                           hidden>
                    {% endfor %}
                    <div class="pb-3 px-3">
                        <div class="row no-gutters justify-content-between mt-xl-0 mt-lg-0 mt-md-0 mt-sm-3 mt-3">

                            <div class="col">
                                <div class="row align-items-center no-gutters">
                                    <div class="col-auto my-1" hidden>
                                        {{form_sell.market_sell(class="form-control form-control-sm mr-sm-2 bg-dark
                                        text-light
                                        border border-secondary", onchange="updateBaseSell()")}}
                                    </div>
                                    <div class="col-auto my-1 mx-1 text-light">
                                        Asset to sell:
                                    </div>
                                    <div class="col-auto mx-1 my-1">
                                        {{form_sell.base_sell(class="form-control form-control-sm mr-sm-2 bg-dark
                                        text-light border
                                        border-secondary", onchange="sellReport()")}}
                                    </div>
                                    <div class="col-auto my-1" hidden>
                                        {{form_sell.quote_sell(class="form-control form-control-sm mr-sm-2 bg-dark
                                        text-light border border-secondary")}}
                                    </div>
                                    <script>
                                    updateBaseSell()
                                    </script>

                                    <div class="col-sm-auto mx-1 my-1">

                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto mx-1 my-1 text-light">
                                                Amount:
                                            </div>
                                            <div class="col-auto mx-1 my-1">
                                                {{ form_sell.amount_spent_sell(class="form-control form-control-sm
                                                text-light bg-dark",
                                                type="number",
                                                placeholder="Amount to be sold", oninput="sellReport()",
                                                step="0.00000001", min="0")
                                                }}
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-auto text-light">
                                <div class="row no-gutters align-items-center justify-content-end">
                                    <div class="col-auto"><small>Total amount available:</small></div>
                                </div>
                                <div class="row no-gutters align-items-center justify-content-end">
                                    <div id="sellAmountAvailable" class="col-auto"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="p-3">
                        <div class="row">
                            <div class="col-auto">
                                <div class="text-muted"><small>Current price</small></div>
                                <div class="text-success" id="price_sell"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Amount</small></div>
                                <div class="text-success" id="amount_sell"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Price</small></div>
                                <div class="text-success" id="price_without_fee"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Fee <i>({{sell_fee}}%)</i></small></div>
                                <input id="chargedFee_sell" type="number" value="{{sell_fee}}" hidden
                                       readonly>
                                <div class="text-danger" id="fee_sell"></div>
                            </div>
                            <div class="col-auto">
                                <div class="text-muted"><small>Credit amount</small></div>
                                <div class="text-success" id="result_sell"></div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <i class="text-info"><q><small>Please note that price may change while the transaction is
                                completed, all amounts shown are just representative.</small></q></i>
                        </div>
                    </div>
                    <div class="py-3 px-xl-5 px-lg-4 px-md-3 px-sm-3 px-2 text-right">
                        <div class="row">
                            <div class="col-sm-8">
                                {{ form_sell.submit_sell(class="btn btn-block btn-sm btn-outline-success") }}
                            </div>
                            <div class="col-sm-4 mt-xl-0 mt-lg-0 mt-md-0 mt-sm-0 mt-2">
                                <input type="reset" value="Clear" class="btn btn-block btn-sm btn-outline-warning"
                                       onclick="clearReportSell()">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <hr class="border-secondary mt-5">
    <div class="row align-items-center no-gutters">
        <div class="col-lg-6 mt-4" id="card-1">

            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-10 col-md-7 col-sm-10">
                    <div class="p-4 my-4 border border-secondary rounded-lg" id="generalCard-1">
                    <div id="baseCard-1" hidden="">btc</div>
                    <div id="quoteCard-1" hidden="">eur</div>
                    <div id="deltaCard-1" hidden="">1440</div>
                        <div class="row">
                            <div class="col">
                                <h4 class="text-light">BTCEUR</h4>
                            </div>
                            <div class="col-auto text-right" hidden>
                                <small class="font-italic text-muted" id="marketCard-1">kraken</small>
                            </div>
                            <div class="col-auto">
                                <a class="p-1" href="javascript:closeCard('1');">
                                    <span class="material-icons text-danger" style="font-size:20px">clear</span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <h5 class="text-muted ml-3" id="changeCard-1"></h5>
                            </div>
                            <div class="col">
                                <h4 class="text-right text-muted" id="lastCard-1"></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <div class="row-fluid text-muted text-center"><small>Last 24h</small></div>
                                <div class="row-fluid text-muted small" id="highCard-1"><strong>High: </strong></div>
                                <div class="row-fluid text-muted small" id="lowCard-1"><strong>Low: </strong></div>
                            </div>
                            <div class="col">
                                <div class="row justify-content-end mr-2 text-muted"><strong><small>Volume:</small></strong>
                                </div>
                                <div class="row justify-content-end mr-2 text-muted small" id="volumeCard-1"></div>
                                <div class="row justify-content-end mr-2 text-muted small" id="volumequoteCard-1"></div>
                            </div>
                        </div>
                    </div>
                    <script>
                        update_values_1()
                        var runUpdates_1=setInterval(update_values_1,5*1000);
                    </script>
                </div>
            </div>

        </div>
        <div class="col-lg-6 mt-4" id="card-2">

            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-10 col-md-7 col-sm-10">
                    <div class="p-4 my-4 border border-secondary rounded-lg" id="generalCard-2">
                    <div id="baseCard-2" hidden="">eth</div>
                    <div id="quoteCard-2" hidden="">eur</div>
                    <div id="deltaCard-2" hidden="">1440</div>
                        <div class="row">
                            <div class="col">
                                <h4 class="text-light">ETHEUR</h4>
                            </div>
                            <div class="col-auto text-right" hidden>
                                <small class="font-italic text-muted" id="marketCard-2">kraken</small>
                            </div>
                            <div class="col-auto">
                                <a class="p-1" href="javascript:closeCard('2');">
                                    <span class="material-icons text-danger" style="font-size:20px">clear</span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <h5 class="text-muted ml-3" id="changeCard-2"></h5>
                            </div>
                            <div class="col">
                                <h4 class="text-right text-muted" id="lastCard-2"></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <div class="row-fluid text-muted text-center"><small>Last 24h</small></div>
                                <div class="row-fluid text-muted small" id="highCard-2"><strong>High: </strong></div>
                                <div class="row-fluid text-muted small" id="lowCard-2"><strong>Low: </strong></div>
                            </div>
                            <div class="col">
                                <div class="row justify-content-end mr-2 text-muted"><strong><small>Volume:</small></strong>
                                </div>
                                <div class="row justify-content-end mr-2 text-muted small" id="volumeCard-2"></div>
                                <div class="row justify-content-end mr-2 text-muted small" id="volumequoteCard-2"></div>
                            </div>
                        </div>
                    </div>
                    <script>
                        update_values_2()
                        var runUpdates_2=setInterval(update_values_2,5*1000);
                    </script>
                </div>
            </div>

        </div>
        <div class="col-lg-6 mt-4" id="chart-left">
            <div class="row justify-content-end align-items-center no-gutters">
                <div class="col-auto mr-2 text-light">
                    <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle text-light" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {% if btc_candle == 20 %}
                            20 seconds
                            {% elif btc_candle == 60 %}
                            60 seconds
                            {% elif btc_candle == 300 %}
                            05 minutes
                            {% elif btc_candle == 900 %}
                            15 minutes
                            {% elif btc_candle == 1800 %}
                            30 minutes
                            {% elif btc_candle == 3600 %}
                            01 hour
                            {% else %}
                            60 seconds
                            {% endif %}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="dropdownCandles">
                            <a class="dropdown-item text-light small"
                               href="{{url_for('playground_live_home', compt_id=compt_id, btc_candle=20, eth_candle=eth_candle)}}"><small>20
                                seconds</small></a>
                            <a class="dropdown-item text-light small"
                               href="{{url_for('playground_live_home', compt_id=compt_id, btc_candle=60, eth_candle=eth_candle)}}"><small>60
                                seconds</small></a>
                            <a class="dropdown-item text-light small"
                               href="{{url_for('playground_live_home', compt_id=compt_id, btc_candle=300, eth_candle=eth_candle)}}"><small>05
                                minutes</small></a>
                            <a class="dropdown-item text-light small"
                               href="{{url_for('playground_live_home', compt_id=compt_id, btc_candle=900, eth_candle=eth_candle)}}"><small>15
                                minutes</small></a>
                            <a class="dropdown-item text-light small"
                               href="{{url_for('playground_live_home', compt_id=compt_id, btc_candle=1800, eth_candle=eth_candle)}}"><small>30
                                minutes</small></a>
                            <a class="dropdown-item text-light small"
                               href="{{url_for('playground_live_home', compt_id=compt_id, btc_candle=3600, eth_candle=eth_candle)}}"><small>01
                                hour</small></a>
                        </div>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block" id="icon-expand-chart-left">
                    <a class="p-1" href="javascript:expandChart('chart-left');">
                        <span class="material-icons text-success" style="font-size:16px">open_in_full</span>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block" id="icon-collapse-chart-left">
                    <a class="p-1" href="javascript:collapseChart('chart-left');">
                        <span class="material-icons text-warning" style="font-size:16px">close_fullscreen</span>
                    </a>
                </div>
                <div class="col-auto" id="icon-close-chart-left">
                    <a class="p-1" href="javascript:closeChart('chart-left');">
                        <span class="material-icons text-danger" style="font-size:20px">clear</span>
                    </a>
                </div>
            </div>
            <div id="chartBTC" style="height: 350px;"></div>
            <script>ohlc_chart('chartBTC', 'kraken', 'btc', 'eur', 100, {{btc_candle}}, {{btc_candle_update}})</script>
        </div>
        <div class="col-lg-6 mt-4" id="chart-right">
            <div class="row justify-content-end align-items-center no-gutters">
                <div class="col-auto mr-2 text-light">
                    <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle text-light" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            {% if eth_candle == 20 %}
                            20 seconds
                            {% elif eth_candle == 60 %}
                            60 seconds
                            {% elif eth_candle == 300 %}
                            05 minutes
                            {% elif eth_candle == 900 %}
                            15 minutes
                            {% elif eth_candle == 1800 %}
                            30 minutes
                            {% elif eth_candle == 3600 %}
                            01 hour
                            {% else %}
                            60 seconds
                            {% endif %}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="dropdownCandles">
                            <a class="dropdown-item text-light small"
                               href="{{url_for('playground_live_home', compt_id=compt_id, eth_candle=20, btc_candle=btc_candle)}}"><small>20
                                seconds</small></a>
                            <a class="dropdown-item text-light small"
                               href="{{url_for('playground_live_home', compt_id=compt_id, eth_candle=60, btc_candle=btc_candle)}}"><small>60
                                seconds</small></a>
                            <a class="dropdown-item text-light small"
                               href="{{url_for('playground_live_home', compt_id=compt_id, eth_candle=300, btc_candle=btc_candle)}}"><small>05
                                minutes</small></a>
                            <a class="dropdown-item text-light small"
                               href="{{url_for('playground_live_home', compt_id=compt_id, eth_candle=900, btc_candle=btc_candle)}}"><small>15
                                minutes</small></a>
                            <a class="dropdown-item text-light small"
                               href="{{url_for('playground_live_home', compt_id=compt_id, eth_candle=1800, btc_candle=btc_candle)}}"><small>30
                                minutes</small></a>
                            <a class="dropdown-item text-light small"
                               href="{{url_for('playground_live_home', compt_id=compt_id, eth_candle=3600, btc_candle=btc_candle)}}"><small>01
                                hour</small></a>
                        </div>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block" id="icon-expand-chart-right">
                    <a class="p-1" href="javascript:expandChart('chart-right');">
                        <span class="material-icons text-success" style="font-size:16px">open_in_full</span>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block" id="icon-collapse-chart-right">
                    <a class="p-1" href="javascript:collapseChart('chart-right');">
                        <span class="material-icons text-warning" style="font-size:16px">close_fullscreen</span>
                    </a>
                </div>
                <div class="col-auto" id="icon-close-chart-right">
                    <a class="p-1" href="javascript:closeChart('chart-right');">
                        <span class="material-icons text-danger" style="font-size:20px">clear</span>
                    </a>
                </div>
            </div>
            <div id="chartETH" style="height: 350px;"></div>
            <script>ohlc_chart('chartETH', 'kraken', 'eth', 'eur', 100, {{eth_candle}}, {{eth_candle_update}})</script>
        </div>
    </div>

    <div class="mt-5">
        <hr class="border-secondary">
        <div class="row justify-content-end mr-2">
            <H6><a href="{{url_for('playground_live_my_transactions', compt_id=compt_id)}}" class="text-light text-decoration-none">My transactions</a></H6><small><a href="{{url_for('playground_live_my_transactions', compt_id=compt_id)}}" class="text-decoration-none ml-2"><i>See all</i></a></small>
        </div>
        <table class="table table-sm table-borderless small mt-3">
            <thead>
            <tr class="text-light">
                <th class="text-left">Date</th>
                <th class="d-none d-sm-none d-md-none d-lg-table-cell text-center">Type</th>
                <th class="d-none d-sm-none d-md-none d-lg-table-cell text-center">Asset</th>
                <th class="text-right">Asset amount</th>
                <th class="d-none d-sm-none d-md-table-cell text-right">Asset price</th>
                <th class="text-right">Gross amount</th>
                <th class="d-none d-sm-none d-md-table-cell text-right">Fee</th>
                <th class="d-none d-sm-table-cell text-right">Amount net</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
            {% if transaction['type'] == "buy" %}
            {% set asd = "success" %}
            {% elif transaction['type'] == "sell" %}
            {% set asd = "danger" %}
            {% else %}
            {% set asd = "muted" %}
            {% endif %}
            <tr class="text-{{asd}}">
                <td class="text-left">{{transaction['date_created']}}</td>
                <td class="d-none d-sm-none d-md-none d-lg-table-cell text-center">{{transaction['type']}}</td>
                <td class="d-none d-sm-none d-md-none d-lg-table-cell text-center">{{transaction['base'].upper()}}</td>
                <td class="text-right">{{transaction['asset_amount']}} <small>{{transaction['base'].upper()}}</small></td>
                <td class="d-none d-sm-none d-md-table-cell text-right">
                    {{transaction['asset_price'] | numberFormat}} <small>{{transaction['quote'].upper()}}</small>
                </td>
                <td class="text-right">{{transaction['amount_gross'] | numberFormat}} <small>{{transaction['quote'].upper()}}</small></td>
                <td class="d-none d-sm-none d-md-table-cell text-right">{{transaction['fee'] | numberFormat}} <small>{{transaction['quote'].upper()}}</small>
                </td>
                <td class="d-none d-sm-table-cell text-right">{{transaction['amount_net'] | numberFormat}} <small>{{transaction['quote'].upper()}}</small>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mt-5">
        <hr class="border-secondary">
        <div class="row justify-content-end mr-2">
            <H6><a href="#" class="text-light text-decoration-none">Portfolio value</a></H6>
        </div>
        <div id="lineChart" style="height: 400px;"></div>
        <script>
            portfolio_chart('lineChart', {{current_user.id}}, {{compt_id}}, '{{amount_quote.upper()}}')
        </script>
    </div>

    {% else %}

    <div class="container mt-3 mb-5">
        <h3 class="text-info text-center p-5 m-5">You haven't joined this competition!</h3>
    </div>

    {% endif %}
</div>

{% endblock %}
