{% extends "layout.html" %}


{% block info_line %}
<div class="container border-light border-bottom">
    <div class="row">
        <div class="col">
            <div class="row justify-content-start">
                <div class="col-auto"><small><a href="{{url_for('account_user')}}"
                                                class="text-muted text-decoration-none">User</a></small></div>
                <div class="col-auto"><small><a href="{{url_for('portfolio')}}" class="text-light text-decoration-none">Portfolio</a></small>
                </div>
                {% if current_user.email in admins_emails %}
                <div class="col-auto"><small><a href="#" class="text-muted text-decoration-none">Admin</a></small>
                </div>
                {% endif %}
                <div class="col-auto"><small><a href="{{url_for('logout')}}" class="text-danger text-decoration-none">Logout</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<script src="{{url_for('static', filename='amcharts4/core.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/charts.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/dark.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/animated.js')}}"></script>
<script src="{{url_for('static', filename='js/line.js')}}"></script>

<div class="container mt-3">
    <div class="row align-items-center py-2">
        <div class="col-auto">
            <a href="#buyAsset" class="text-decoration-none text-success" data-toggle="modal">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto"><span class="material-icons p-1">add_circle</span></div>
                    <div class="col-auto">Buy asset</div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a href="#sellAsset" class="text-decoration-none text-danger" data-toggle="modal">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto"><span class="material-icons p-1">remove_circle</span></div>
                    <div class="col-auto">Sell asset</div>
                </div>
            </a>
        </div>
        <div class="col">
            <div class="row no-gutters align-items-center justify-content-end text-light">
                <div class="col-auto"><span class="material-icons p-1">account_balance_wallet</span></div>
                <div class="col-auto">1,000.00 <small>EUR</small></div>
            </div>
        </div>
    </div>
    <div class="row align-items-center p-2">
        <div class="col-lg-6 border-top border-bottom border-secondary py-5">
            <small class="text-light">Current value:</small>
            <div class="row no-gutters">
                <div class="col-auto"><H1 class="display-4 text-light">1,250.00</H1></div>
                <div class="col-auto"><small class="text-light">EUR</small></div>
                <div class="col-auto"><span class="material-icons text-success" style="font-size:48px">north</span>
                </div>
                <div class="col-auto mr-2 text-success"><h5>25%</h5></div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <p class="p-2 text-center text-light">Wallet vs Assets</p>
            <div id="chartdiv" style="height: 200px;"></div>
        </div>
        <script>
            // Create chart instance
            var chart = am4core.create("chartdiv", am4charts.PieChart);

            // Add data
            chart.data = [ {
              "type": "Wallet",
              "value": 501.9
            }, {
              "type": "Assets",
              "value": 301.9
            }];

            // Set inner radius
            chart.innerRadius = am4core.percent(50);

            // Add and configure Series
            var pieSeries = chart.series.push(new am4charts.PieSeries());
            pieSeries.dataFields.value = "value";
            pieSeries.dataFields.category = "type";
            pieSeries.slices.template.stroke = am4core.color("#fff");
            pieSeries.slices.template.strokeWidth = 2;
            pieSeries.slices.template.strokeOpacity = 1;

            // This creates initial animation
            pieSeries.hiddenState.properties.opacity = 1;
            pieSeries.hiddenState.properties.endAngle = -90;
            pieSeries.hiddenState.properties.startAngle = -90;















        </script>
        <div class="col-sm-6 col-lg-3">
            <p class="p-2 text-center text-light">Assets <small>(count)</small></p>
            <div id="chartdiv2" style="height: 200px;"></div>
        </div>
        <script>
            // Create chart instance
            var chart = am4core.create("chartdiv2", am4charts.PieChart);

            // Add data
            chart.data = [ {
              "type": "BTC",
              "value": 10
            }, {
              "type": "ETH",
              "value": 30
            }];

            // Set inner radius
            chart.innerRadius = am4core.percent(50);

            // Add and configure Series
            var pieSeries = chart.series.push(new am4charts.PieSeries());
            pieSeries.dataFields.value = "value";
            pieSeries.dataFields.category = "type";
            pieSeries.slices.template.stroke = am4core.color("#fff");
            pieSeries.slices.template.strokeWidth = 2;
            pieSeries.slices.template.strokeOpacity = 1;

            // This creates initial animation
            pieSeries.hiddenState.properties.opacity = 1;
            pieSeries.hiddenState.properties.endAngle = -90;
            pieSeries.hiddenState.properties.startAngle = -90;















        </script>
    </div>
    <div class="row p-2 mt-3 border-top border-bottom border-secondary">
        <div class="col-md-6 py-2">
            <table class="table table-sm table-borderless table-hover small">
                <thead>
                <tr class="text-light">
                    <th>Date</th>
                    <th>Type</th>
                    <th>Asset</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in range(5) %}
                <tr class="text-success">
                    <td>2021-01-01</td>
                    <td>Buy</td>
                    <td>BTC</td>
                    <td>500.00 <small>EUR</small></td>
                    <td><a href="#" class="text-decoration-none text-success"><span
                            class="material-icons" style="font-size:20px">text_snippet</span></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6 py-2">
            <table class="table table-sm table-borderless table-hover small">
                <thead>
                <tr class="text-light">
                    <th>Date</th>
                    <th>Type</th>
                    <th>Asset</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in range(5) %}
                <tr class="text-danger">
                    <td>2021-01-01</td>
                    <td>Sell</td>
                    <td>BTC</td>
                    <td>500.00 <small>EUR</small></td>
                    <td><a href="#" class="text-decoration-none text-danger"><span
                            class="material-icons" style="font-size:20px">text_snippet</span></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col text-right"><small><a href="#" class="text-decoration-none text-info">See all
            transactions</a></small></div>
    </div>
    <div class="my-4">
        <div id="chartdiv3" style="height: 200px;"></div>
        <script>
            // Themes begin
            am4core.useTheme(am4themes_dark);
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("chartdiv3", am4charts.XYChart);

            chart.colors.step = 2;
            chart.maskBullets = false;

            // Add data
            chart.data = [{
                "date": "2012-01-01",
                "buy": 227,
                "sell": 135,
                "total_buy": 408,
                "total_sell": 263
            }, {
                "date": "2012-01-02",
                "buy": 371,
                "sell": 345,
                "total_buy": 482,
                "total_sell": 356
            }, {
                "date": "2012-01-03",
                "buy": 433,
                "sell": 102,
                "total_buy": 562,
                "total_sell": 974
            }, {
                "date": "2012-01-04",
                "buy": 345,
                "sell": 520,
                "total_buy": 379,
                "total_sell": 20
            }, {
                "date": "2012-01-05",
                "buy": 480,
                "sell": 100,
                "total_buy": 501,
                "total_sell": 152
            }, {
                "date": "2012-01-06",
                "buy": 386,
                "sell": 268,
                "total_buy": 443,
                "total_sell": 369
            }, {
                "date": "2012-01-07",
                "buy": 348,
                "sell": 674,
                "total_buy": 405,
                "total_sell": 120
            }, {
                "date": "2012-01-08",
                "buy": 238,
                "sell": 65,
                "total_buy": 309,
                "total_sell": 300
            }, {
                "date": "2012-01-09",
                "buy": 218,
                "sell": 230,
                "total_buy": 287,
                "total_sell": 523
            }, {
                "date": "2012-01-10",
                "buy": 349,
                "sell": 30,
                "total_buy": 485,
                "total_sell": 106
            }, {
                "date": "2012-01-11",
                "buy": 603,
                "sell": 279,
                "total_buy": 890,
                "total_sell": 523
            }, {
                "date": "2012-01-12",
                "buy": 534,
                "sell": 230,
                "total_buy": 810,
                "total_sell": 179
            }, {
                "date": "2012-01-13",
                "buy": 425,
                "sell": 56,
                "total_buy": 670,
                "total_sell": 863
            }];

            // Create axes
            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            dateAxis.renderer.grid.template.location = 0;
            dateAxis.renderer.minGridDistance = 50;
            dateAxis.renderer.grid.template.disabled = true;
            dateAxis.renderer.fullWidthTooltip = true;

            var totalAxis = chart.yAxes.push(new am4charts.ValueAxis());
            //totalAxis.title.text = "Total amount";
            totalAxis.renderer.grid.template.disabled = true;
            totalAxis.renderer.opposite = true;
            totalAxis.hidden = true;
            totalAxis.tooltip.disabled = true;


            var totalBuySeries = chart.series.push(new am4charts.LineSeries());
            totalBuySeries.dataFields.valueY = "total_buy";
            totalBuySeries.dataFields.dateX = "date";
            totalBuySeries.yAxis = totalAxis;
            totalBuySeries.name = "Duration";
            totalBuySeries.strokeWidth = 2;
            totalBuySeries.propertyFields.strokeDasharray = "dashLength";
            totalBuySeries.tooltipText = "{valueY} EUR";
            totalBuySeries.showOnInit = true;
            totalBuySeries.fill = am4core.color("green");
            totalBuySeries.stroke = am4core.color("green");

            var totalSellSeries = chart.series.push(new am4charts.LineSeries());
            totalSellSeries.dataFields.valueY = "total_sell";
            totalSellSeries.dataFields.dateX = "date";
            totalSellSeries.yAxis = totalAxis;
            totalSellSeries.name = "Duration";
            totalSellSeries.strokeWidth = 2;
            totalSellSeries.propertyFields.strokeDasharray = "dashLength";
            totalSellSeries.tooltipText = "{valueY} EUR";
            totalSellSeries.showOnInit = true;
            totalSellSeries.fill = am4core.color("red");
            totalSellSeries.stroke = am4core.color("red");

            var durationBullet = totalBuySeries.bullets.push(new am4charts.Bullet());
            var durationRectangle = durationBullet.createChild(am4core.Rectangle);
            durationBullet.horizontalCenter = "middle";
            durationBullet.verticalCenter = "middle";
            durationBullet.width = 7;
            durationBullet.height = 7;
            durationRectangle.width = 7;
            durationRectangle.height = 7;

            var durationState = durationBullet.states.create("hover");
            durationState.properties.scale = 1.2;

            var totalSellBullet = totalSellSeries.bullets.push(new am4charts.Bullet());
            var durationRectangle = totalSellBullet.createChild(am4core.Rectangle);
            totalSellBullet.horizontalCenter = "middle";
            totalSellBullet.verticalCenter = "middle";
            totalSellBullet.width = 7;
            totalSellBullet.height = 7;
            durationRectangle.width = 7;
            durationRectangle.height = 7;

            var totalSellState = totalSellBullet.states.create("hover");
            durationState.properties.scale = 1.2;

            // Add cursor
            chart.cursor = new am4charts.XYCursor();
            chart.cursor.fullWidthLineX = false;
            chart.cursor.xAxis = dateAxis;
            chart.cursor.lineX.strokeOpacity = 0;
            chart.cursor.lineX.fill = am4core.color("#000");
            chart.cursor.lineX.fillOpacity = 0.1;










        </script>
    </div>
</div>
<!-- BuyModal -->
<div class="modal fade" id="buyAsset" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="buyAssetLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content text-light border border-light" style="background-color: #000000;">
            <h3 class="pt-3 px-3 text-center text-success">Buy asset</h3>
            <form action="{{url_for('portfolio')}}" method="POST">
                <div class="pb-3 px-3">
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <select class="form-control form-control-sm mr-sm-2 bg-dark text-light border border-secondary"
                                    id="base" required onchange="report()">
                                <option selected value="">Select asset:</option>
                                <option value="btc">BTC</option>
                                <option value="eth">ETH</option>
                            </select>
                        </div>
                        <div class="col my-1">
                            <div class="row no-gutters align-items-center justify-content-end">
                                <div class="col-auto"><small>Total amount available:</small></div>
                            </div>
                            <div class="row no-gutters align-items-center justify-content-end">
                                <div class="col-auto"><span class="material-icons p-1">account_balance_wallet</span>
                                </div>
                                <div class="col-auto">1,000.00 <small>EUR</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <input type="number" class="form-control form-control-sm text-light bg-dark"
                                   id="amount_spent" oninput="report()" placeholder="Amount to be spent" step="0.01"
                                   min="0" max="1000" required>
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <div class="row">
                        <div class="col">
                            <div class="text-muted"><small>Current price</small></div>
                            <div class="text-success" id="price"></div>
                        </div>
                        <div class="col">
                            <div class="text-muted"><small>Amount</small></div>
                            <div class="text-success" id="amount"></div>
                        </div>
                        <div class="col">
                            <div class="text-muted"><small>Asset amount</small></div>
                            <div class="text-success" id="result"></div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <i class="text-info"><q><small>Please note that price may change while the transaction is
                            completed, the current price and asset amount shown are just representative.</small></q></i>
                    </div>
                </div>
                <script>
                function report() {
                    let base = document.getElementById("base").value;
                    if (base === '') {
                        price = 'Please select asset'
                        amountSpent = document.getElementById("amount_spent").value
                        amountAsset = 0
                        base = ''

                        displayPrice = document.getElementById("price");
                        displayAmount = document.getElementById("amount");
                        displayResult = document.getElementById("result");

                        displayPrice.innerHTML = price;
                        displayAmount.innerHTML = amountSpent + ' <small>EUR</small>';
                        displayResult.innerHTML = amountAsset + ' <small>' + base.toUpperCase() + '</small>';
                    }
                    else {
                        fetch('/api/account/portfolio/price/' + base + '/eur/kraken/').then(
                            function(response){
                                response.json().then(
                                    function (data){
                                        price = data['price']
                                        amountSpent = document.getElementById("amount_spent").value
                                        amountAsset = amountSpent/price

                                        displayPrice = document.getElementById("price");
                                        displayAmount = document.getElementById("amount");
                                        displayResult = document.getElementById("result");

                                        displayPrice.innerHTML = price + ' <small>EUR</small>';
                                        displayAmount.innerHTML = amountSpent + ' <small>EUR</small>';
                                        displayResult.innerHTML = amountAsset.toFixed(8) + ' <small>' + base.toUpperCase() + '</small>';
                                        }
                                    )
                                }
                        )
                    }
                }
                </script>
                <div class="py-3 px-5 text-right">
                    <div class="row">
                        <div class="col-8">
                            <button type="submit" class="btn btn-block btn-sm btn-outline-success">Buy asset</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-block btn-sm btn-outline-danger" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- SellModal -->
<div class="modal fade" id="sellAsset" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="sellAssetLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sellAssetLabel">Sell asset</h5>
            </div>
            <div class="modal-body">
                In progress...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-success">Sell</button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
