{% extends "layout.html" %}


{% block info_line %}
<div class="container border-light border-bottom">
    <div class="row">
        <div class="col">
            <div class="row justify-content-start">
                <div class="col-auto"><small><a href="{{url_for('account_user')}}"
                                                class="text-muted text-decoration-none">User</a></small></div>
                <div class="col-auto"><small><a href="{{url_for('portfolio')}}" class="text-light text-decoration-none">Portfolio</a></small>
                </div>
                {% if current_user.email in admins_emails %}
                <div class="col-auto"><small><a href="{{url_for('account_admin')}}" class="text-muted text-decoration-none">Admin</a></small>
                </div>
                {% endif %}
                <div class="col-auto"><small><a href="{{url_for('logout')}}" class="text-danger text-decoration-none">Logout</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<script src="{{url_for('static', filename='amcharts4/core.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/charts.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/dark.js')}}"></script>
<script src="{{url_for('static', filename='amcharts4/themes/animated.js')}}"></script>
<script src="{{url_for('static', filename='js/line.js')}}"></script>
<script src="{{url_for('static', filename='js/portfolio.js')}}"></script>
<script src="{{url_for('static', filename='js/ohlc_port.js')}}"></script>

<div class="container mt-3">
    <div class="row align-items-center py-2">
        <div class="col-auto">
            <a href="#buyAsset" class="text-decoration-none text-success" data-toggle="modal">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto"><span class="material-icons p-1">add_circle</span></div>
                    <div class="col-auto">Buy asset</div>
                </div>
            </a>
        </div>
        <div class="col-auto">
            <a href="#sellAsset" class="text-decoration-none text-danger" data-toggle="modal">
                <div class="row no-gutters align-items-center">
                    <div class="col-auto"><span class="material-icons p-1">remove_circle</span></div>
                    <div class="col-auto">Sell asset</div>
                </div>
            </a>
        </div>
    </div>
    <div class="row align-items-center py-2">
        <div class="col-lg-7 border-top border-secondary py-5">
            <small class="text-light">Current value:</small>
            <div id="updateAll" class="row no-gutters">
                <div class="col-auto"><H1 class="display-4 text-light"><small>{{total_portfolio['value'] |
                    numberFormat}}</small></H1>
                </div>
                <div class="col-auto"><small class="text-light">{{total_portfolio['quote'].upper()}}</small></div>
                {% if total_portfolio['percentage'] > 0 %}
                <div class="col-auto"><span class="material-icons text-success" style="font-size:48px">north</span>
                </div>
                <div class="col-auto mr-2 text-success"><h5>{{total_portfolio['percentage']}}%</h5></div>
                {% elif total_portfolio['percentage'] < 0 %}
                <div class="col-auto"><span class="material-icons text-danger" style="font-size:48px">south</span>
                </div>
                <div class="col-auto mr-2 text-danger"><h5>{{total_portfolio['percentage']}}%</h5></div>
                {% else %}
                <div class="col-auto"><span class="material-icons text-warning"
                                            style="font-size:48px">unfold_less</span>
                </div>
                <div class="col-auto mr-2 text-warning"><h5>{{total_portfolio['percentage']}}%</h5></div>
                {% endif %}
            </div>
            <script>
                function auxRunUpdates () {
                    updatePortfolio({{current_user.id}})
                }
                var runPortfolioUpdate=setInterval(auxRunUpdates,30*1000);

            </script>
            <div class="row no-gutters">
                <div class="col-auto p-1">
                    <small class="text-light">Assets:</small>
                    {% for asset in available_assets %}
                    <div class="row align-items-center no-gutters mb-2">
                        <div class="col-auto">
                            <img src="{{url_for('static', filename='crypto_icons/color/'+ asset['base'] +'.png')}}"
                                 alt="{{asset['base']}}" style="width:20px;height:20px;"
                                 title="{{asset['base'].upper()}}">
                        </div>
                        <div class="col-auto ml-3 text-light">
                            {{asset['amount'] | numberFormat}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-auto ml-5 p-1">
                    <small class="text-light">Wallet:</small>
                    <div class="row align-items-center no-gutters mb-2">
                        <div class="col-auto">
                            <img src="{{url_for('static', filename='crypto_icons/color/eur.png')}}"
                                 alt="EUR" style="width:20px;height:20px;" title="EUR">
                        </div>
                        <div class="col-auto ml-3 text-light">
                            {{available_funds | numberFormat}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div id="pieWA" style="height: 200px;"></div>
        </div>
        <script>
            let portfolio_data = {{total_portfolio | safe}}
            pieWalletAssets(pieWA, portfolio_data)
        </script>
    </div>
    <div class="my-3">
        <div class="text-center mt-2 text-light">
            <small>Portfolio value</small>
        </div>
        <div id="portfolioChart" style="height: 250px;"></div>
        <script>
            portfolioChart('portfolioChart', {{current_user.id}})
        </script>
    </div>
    <div class="border-top border-bottom border-secondary">
        <div class="text-center mt-2 text-light">
            <small>Total amount per day <small>(last {{number_days_buy_sell}} days)</small></small>
        </div>
        <div id="buy-sell-chart" style="height: 200px; width: 100%;"></div>
        <script>
            lineBuySell("buy-sell-chart", {{current_user.id}}, {{number_days_buy_sell}})

        </script>
        <div class="mt-2">
            {% if buy_transactions.__len__() == 0 %}
            <table class="table table-sm table-borderless table-hover small">
                <thead>
                <tr class="text-light">
                    <th>Date</th>
                    <th class="d-none d-sm-none d-md-table-cell">Type</th>
                    <th>Asset</th>
                    <th class="d-none d-sm-none d-md-table-cell">Market</th>
                    <th class="d-none d-sm-table-cell">Asset price</th>
                    <th>Gross amount</th>
                    <th class="d-none d-sm-none d-md-table-cell">Fee</th>
                    <th>Amount</th>
                    <th>Asset amount</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div><i>No transaction to show.</i></div>
            {% else %}
            <table class="table table-sm table-borderless table-hover small">
                <thead>
                <tr class="text-light">
                    <th>Date</th>
                    <th class="d-none d-sm-none d-md-table-cell">Type</th>
                    <th>Asset</th>
                    <th class="d-none d-sm-none d-md-table-cell">Market</th>
                    <th class="d-none d-sm-table-cell">Asset price</th>
                    <th>Gross amount</th>
                    <th class="d-none d-sm-none d-md-table-cell">Fee</th>
                    <th>Amount</th>
                    <th>Asset amount</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in buy_transactions %}
                <tr class="text-success">
                    <td>{{transaction['date']}}</td>
                    <td class="d-none d-sm-none d-md-table-cell">{{transaction['type']}}</td>
                    <td>{{transaction['base'].upper()}}</td>
                    <td class="d-none d-sm-none d-md-table-cell">{{transaction['market']}}</td>
                    <td class="d-none d-sm-table-cell">{{transaction['asset_price'] | numberFormat}} <small>{{transaction['quote'].upper()}}</small>
                    </td>
                    <td>{{transaction['value'] | numberFormat}} <small>{{transaction['quote'].upper()}}</small></td>
                    <td class="d-none d-sm-none d-md-table-cell">{{transaction['fee'] | numberFormat}} <small>{{transaction['quote'].upper()}}</small>
                    </td>
                    <td>{{(transaction['value'] - transaction['fee']) |
                        numberFormat}} <small>{{transaction['quote'].upper()}}</small>
                    </td>
                    <td>{{transaction['asset_amount'] | numberFormat}} <small>{{transaction['base'].upper()}}</small>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <div>
            {% if sell_transactions.__len__() == 0 %}
            <table class="table table-sm table-borderless table-hover small">
                <thead>
                <tr class="text-light">
                    <th>Date</th>
                    <th class="d-none d-sm-none d-md-table-cell">Type</th>
                    <th>Asset</th>
                    <th class="d-none d-sm-none d-md-table-cell">Market</th>
                    <th class="d-none d-sm-table-cell">Asset price</th>
                    <th>Asset amount</th>
                    <th>Gross amount</th>
                    <th class="d-none d-sm-none d-md-table-cell">Fee</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div><i>No transaction to show.</i></div>
            {% else %}
            <table class="table table-sm table-borderless table-hover small">
                <thead>
                <tr class="text-light">
                    <th>Date</th>
                    <th class="d-none d-sm-none d-md-table-cell">Type</th>
                    <th>Asset</th>
                    <th class="d-none d-sm-none d-md-table-cell">Market</th>
                    <th class="d-none d-sm-table-cell">Asset price</th>
                    <th>Asset amount</th>
                    <th>Gross amount</th>
                    <th class="d-none d-sm-none d-md-table-cell">Fee</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in sell_transactions %}
                <tr class="text-danger">
                    <td>{{transaction['date']}}</td>
                    <td class="d-none d-sm-none d-md-table-cell">{{transaction['type']}}</td>
                    <td>{{transaction['base'].upper()}}</td>
                    <td class="d-none d-sm-none d-md-table-cell">{{transaction['market']}}</td>
                    <td class="d-none d-sm-table-cell">{{transaction['asset_price'] | numberFormat}} <small>{{transaction['quote'].upper()}}</small>
                    </td>
                    <td>{{transaction['asset_amount'] | numberFormat}} <small>{{transaction['base'].upper()}}</small>
                    </td>
                    <td>{{transaction['value'].__round__(2) | numberFormat}}
                        <small>{{transaction['quote'].upper()}}</small></td>
                    <td class="d-none d-sm-none d-md-table-cell">{{transaction['fee'].__round__(2) | numberFormat}}
                        <small>{{transaction['quote'].upper()}}</small>
                    </td>
                    <td>{{(transaction['value'] - transaction['fee']).__round__(2) | numberFormat}} <small>{{transaction['quote'].upper()}}</small>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <div class="text-right"><small><a href="{{url_for('all_transactions_buy')}}"
                                          class="text-decoration-none text-info">See all
            transactions</a></small></div>
    </div>
    <div class="my-4">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="row">
                    <div class="col text-center text-light"><small>BTCEUR kraken 60s</small></div>
                    <div class="col-auto">
                        <a class="p-3 text-muted" href="{{url_for('chart_ohlc', market='kraken', base='btc', quote='eur', candle=60)}}">
                            <span class="material-icons">insert_chart</span>
                        </a>
                    </div>
                </div>
                <div id="chartBTC" style="height: 350px;"></div>
                <script>ohlc_chart('chartBTC', 'kraken', 'btc', 'eur', 100, 60, 20)</script>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col text-center text-light"><small>ETHEUR kraken 60s</small></div>
                    <div class="col-auto">
                        <a class="p-3 text-muted" href="{{url_for('chart_ohlc', market='kraken', base='eth', quote='eur', candle=60)}}">
                            <span class="material-icons">insert_chart</span>
                        </a>
                    </div>
                </div>
                <div id="chartETH" style="height: 350px;"></div>
                <script>ohlc_chart('chartETH', 'kraken', 'eth', 'eur', 100, 60, 20)</script>
            </div>
        </div>
    </div>
</div>
<!-- BuyModal -->
<div class="modal fade" id="buyAsset" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="sellAssetLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content text-light border border-light" style="background-color: #000000;">
            <h3 class="pt-3 px-3 text-center text-success">Buy asset</h3>
            <form action="{{url_for('portfolio_buy')}}" method="POST">
                {{ form_buy.hidden_tag() }}
                <div class="pb-3 px-3">
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            {{form_buy.market(class="form-control form-control-sm mr-sm-2 bg-dark text-light border
                            border-secondary", onchange="updateBase()")}}
                        </div>
                        <div class="col-auto my-1">
                            {{form_buy.base(class="form-control form-control-sm mr-sm-2 bg-dark text-light border
                            border-secondary", onchange="updateQuote()")}}
                        </div>
                        <div class="col-auto my-1">
                            {{form_buy.quote(class="form-control form-control-sm mr-sm-2 bg-dark text-light border
                            border-secondary", onchange="buyReport()")}}
                        </div>
                        <script>
                            updateBase()

                        </script>
                        <div class="col my-1">
                            <div class="row no-gutters align-items-center justify-content-end">
                                <div class="col-auto"><small>Total amount available:</small></div>
                            </div>
                            <div class="row no-gutters align-items-center justify-content-end">
                                <div class="col-auto"><span class="material-icons p-1">account_balance_wallet</span>
                                </div>
                                <div class="col-auto">{{available_funds | numberFormat}} <small>EUR</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            {{ form_buy.amount_spent(class="form-control form-control-sm text-light bg-dark",
                            type="number",
                            placeholder="Amount to be spent", oninput="buyReport()", step="0.01", min="0",
                            max=available_funds)
                            }}
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <div class="row">
                        <div class="col-auto">
                            <div class="text-muted"><small>Current price</small></div>
                            <div class="text-success" id="price"></div>
                        </div>
                        <div class="col-auto">
                            <div class="text-muted"><small>Amount</small></div>
                            <div class="text-success" id="amount"></div>
                        </div>
                        <div class="col-auto">
                            <div class="text-muted"><small>Fee {{default_transaction_fee * 100}}%</small></div>
                            <input id="chargedFee" type="number" value="{{default_transaction_fee}}" hidden readonly>
                            <div class="text-danger" id="fee"></div>
                        </div>
                        <div class="col-auto">
                            <div class="text-muted"><small>Asset amount</small></div>
                            <div class="text-success" id="result"></div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <i class="text-info"><q><small>Please note that price may change while the transaction is
                            completed, all amounts shown are just representative.</small></q></i>
                    </div>
                </div>
                <div class="py-3 px-5 text-right">
                    <div class="row">
                        <div class="col-8">
                            {{ form_buy.submit(class="btn btn-block btn-sm btn-outline-success") }}
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-block btn-sm btn-outline-danger" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- SellModal -->
<div class="modal fade" id="sellAsset" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="sellAssetLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content text-light border border-light" style="background-color: #000000;">
            <h3 class="pt-3 px-3 text-center text-danger">Sell asset</h3>
            <form action="{{url_for('portfolio_sell')}}" method="POST">
                {{ form_sell.hidden_tag() }}
                {% for sell_asset in available_assets %}
                <input id="hidden-{{sell_asset['base']}}-value" type="number" value="{{sell_asset['amount']}}" hidden>
                {% endfor %}
                <div class="pb-3 px-3">
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            {{form_sell.market_sell(class="form-control form-control-sm mr-sm-2 bg-dark text-light
                            border border-secondary", onchange="updateBaseSell()")}}
                        </div>
                        <div class="col-auto my-1">
                            {{form_sell.base_sell(class="form-control form-control-sm mr-sm-2 bg-dark text-light border
                            border-secondary", onchange="updateQuoteSell()")}}
                        </div>
                        <div class="col-auto my-1">
                            {{form_sell.quote_sell(class="form-control form-control-sm mr-sm-2 bg-dark text-light border
                            border-secondary", onchange="sellReport()")}}
                        </div>
                        <script>
                            updateBaseSell()

                        </script>
                        <div class="col my-1">
                            <div class="row no-gutters align-items-center justify-content-end">
                                <div class="col-auto"><small>Total amount available:</small></div>
                            </div>
                            <div class="row no-gutters align-items-center justify-content-end">
                                <div id="sellAmountAvailable" class="col-auto"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            {{ form_sell.amount_spent_sell(class="form-control form-control-sm text-light bg-dark",
                            type="number",
                            placeholder="Amount to be sold", oninput="sellReport()", step="0.00000001", min="0")
                            }}
                        </div>
                    </div>
                </div>
                <div class="p-3">
                    <div class="row">
                        <div class="col-auto">
                            <div class="text-muted"><small>Current price</small></div>
                            <div class="text-danger" id="price_sell"></div>
                        </div>
                        <div class="col-auto">
                            <div class="text-muted"><small>Amount</small></div>
                            <div class="text-danger" id="amount_sell"></div>
                        </div>
                        <div class="col-auto">
                            <div class="text-muted"><small>Price</small></div>
                            <div class="text-danger" id="price_without_fee"></div>
                        </div>
                        <div class="col-auto">
                            <div class="text-muted"><small>Fee {{default_transaction_fee * 100}}%</small></div>
                            <input id="chargedFee_sell" type="number" value="{{default_transaction_fee}}" hidden
                                   readonly>
                            <div class="text-warning" id="fee_sell"></div>
                        </div>
                        <div class="col-auto">
                            <div class="text-muted"><small>Credit amount</small></div>
                            <div class="text-danger" id="result_sell"></div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <i class="text-info"><q><small>Please note that price may change while the transaction is
                            completed, all amounts shown are just representative.</small></q></i>
                    </div>
                </div>
                <div class="py-3 px-5 text-right">
                    <div class="row">
                        <div class="col-8">
                            {{ form_sell.submit_sell(class="btn btn-block btn-sm btn-outline-success") }}
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-block btn-sm btn-outline-danger" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
