{% extends "layout.html" %}


{% block info_line %}

{% endblock %}


{% block content %}
<script src="{{url_for('static', filename='js/portfolio.js')}}"></script>

<div class="container mt-3">
    <H4 class="text-center text-light">Hall of Fame</H4>
    <div class="my-4">
        <table class="table table-borderless table-striped table-dark" style="background-color: #000000;">
            <thead class="text-muted">
            <tr>
                <th>#</th>
                <th>Username</th>
                <th class="text-right">Value</th>
                <th class="text-center d-none d-sm-table-cell">Assets</th>
                <th class="text-center d-none d-sm-table-cell">Fiat</th>
                <th class="text-right d-none d-sm-none d-md-table-cell">Initial amount</th>
                <th class="text-right d-none d-sm-none d-md-none d-lg-table-cell">Starting date</th>

                <th class="text-right">%</th>
            </tr>
            </thead>
            <tbody class="text-muted" id="table-{{i}}">
            {% for j in range(table.__len__()) %}
            {% if table[j].percentage < 0 %}
            {% set t_color = "danger" %}
            {% elif table[j].percentage > 0 %}
            {% set t_color = "success" %}
            {% else %}
            {% set t_color = "warning" %}
            {% endif %}
            <tr class="text-{{t_color}}">
                <th>{{j + 1}}</th>
                <td>{{table[j].username}}</td>
                <td class="text-right"><strong>{{table[j].value | numberFormat}}</strong> <small>{{table[j].quote.upper()}}</small></td>
                <td class="text-center d-none d-sm-table-cell">{{table[j].pct_assets}} <small>%</small></td>
                <td class="text-center d-none d-sm-table-cell">{{table[j].pct_fiat}} <small>%</small></td>
                <td class="text-right d-none d-sm-none d-md-table-cell">{{table[j].amount | numberFormat}} <small>{{table[j].quote.upper()}}</small></td>
                <td class="text-right d-none d-sm-none d-md-none d-lg-table-cell">{{table[j].date}}</td>
                <td class="text-right"><strong>{{table[j].percentage | numberFormat}}</strong></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
